market_understanding/full_workflow_metadata_n8n_workflows/workflow_24dd976d_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/24dd976d",
  "workflow_id": "24dd976d",
  "workflow_id_display": "24dd976d",
  "workflow_name": "Send daily weather updates to a phone number using the Vonage node",
  "category": "Communication & Collaboration",
  "difficulty": "✅ Beginner",
  "total_nodes": "3",
  "tools_integrations": "Google Sheets, Slack",
  "tags": [
    "google",
    "slack"
  ],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 AI Process Automation",
  "setup_time": "⏱️ 15-30 mins",
  "use_cases": [],
  "what_it_does": "Instantly capture and enrich form submissions, auto-update Google Sheets, and alert your team on Slack. Streamline lead management—learn more now!",
  "key_benefits": [
    "Communication automation",
    "Integration with openWeatherMap, vonage, cron"
  ],
  "nodes": [
    {
      "name": "Vonage",
      "type": "Process"
    },
    {
      "name": "Cron",
      "type": "Trigger"
    },
    {
      "name": "OpenWeatherMap",
      "type": "Process"
    }
  ],
  "api_connections": [
    "Slack API"
  ],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "id": "84",
    "name": "Send daily weather updates to a phone number using the Vonage node",
    "nodes": [
      {
        "name": "Vonage",
        "type": "n8n-nodes-base.vonage",
        "position": [
          770,
          260
        ],
        "parameters": {
          "to": "1234",
          "from": "Vonage APIs",
          "message": "=Hey! The temperature outside is {{$node[\"OpenWeatherMap\"].json[\"main\"][\"temp\"]}}°C.",
          "additionalFields": {}
        },
        "credentials": {
          "vonageApi": "vonage"
        },
        "typeVersion": 1
      },
      {
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "position": [
          370,
          260
        ],
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "hour": 9
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "OpenWeatherMap",
        "type": "n8n-nodes-base.openWeatherMap",
        "position": [
          570,
          260
        ],
        "parameters": {
          "cityName": "berlin"
        },
        "credentials": {
          "openWeatherMapApi": "owm"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Cron": {
        "main": [
          [
            {
              "node": "OpenWeatherMap",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenWeatherMap": {
        "main": [
          [
            {
              "node": "Vonage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}