market_understanding/full_workflow_metadata_n8n_workflows/workflow_348e0aee_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/348e0aee",
  "workflow_id": "348e0aee",
  "workflow_id_display": "348e0aee",
  "workflow_name": "Receive updates when a subscriber is added to a group in MailerLite",
  "category": "Marketing & Sales",
  "difficulty": "✅ Beginner",
  "total_nodes": "4",
  "tools_integrations": "Google Analytics",
  "tags": [],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 AI Data Analysis",
  "setup_time": "⏱️ <15 mins",
  "use_cases": [],
  "what_it_does": "Boost your sales with real-time lead capture, data enrichment, automated CRM updates, and analytics dashboards. Streamline outreach—learn more now!",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with manualTrigger, set, mailerLiteTrigger"
  ],
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "Trigger"
    },
    {
      "name": "MailerLite Trigger",
      "type": "Trigger"
    },
    {
      "name": "Airtable",
      "type": "Data Output"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "id": "30",
    "name": "Receive updates when a subscriber is added to a group and strore the information in Airtable",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "disabled": true,
        "position": [
          110,
          600
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "MailerLite Trigger",
        "type": "n8n-nodes-base.mailerLiteTrigger",
        "position": [
          530,
          300
        ],
        "webhookId": "dd15d919-18b3-4af7-a5c9-c4583cdda9f5",
        "parameters": {
          "event": "subscriber.add_to_group"
        },
        "credentials": {
          "mailerLiteApi": "mailerlite"
        },
        "typeVersion": 1
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          730,
          300
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "Name",
                "value": "={{$node[\"MailerLite Trigger\"].json[\"data\"][\"subscriber\"][\"name\"]}}"
              },
              {
                "name": "Email",
                "value": "={{$node[\"MailerLite Trigger\"].json[\"data\"][\"subscriber\"][\"email\"]}}"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1
      },
      {
        "name": "Airtable",
        "type": "n8n-nodes-base.airtable",
        "position": [
          930,
          300
        ],
        "parameters": {
          "table": "Data",
          "options": {},
          "operation": "append",
          "application": ""
        },
        "credentials": {
          "airtableApi": "airtable-harshil"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Set": {
        "main": [
          [
            {
              "node": "Airtable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MailerLite Trigger": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          []
        ]
      }
    }
  }
}