market_understanding/full_workflow_metadata_n8n_workflows/workflow_522d48ab_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/522d48ab",
  "workflow_id": "522d48ab",
  "workflow_id_display": "522d48ab",
  "workflow_name": "Send location updates of the ISS every minute to a table in Google BigQuery",
  "category": "Data & Analytics",
  "difficulty": "✅ Beginner",
  "total_nodes": "4",
  "tools_integrations": "Google Analytics",
  "tags": [
    "google"
  ],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ <15 mins",
  "use_cases": [],
  "what_it_does": "Automate ISS tracking by sending its position to Google BigQuery every minute. Fetch, filter, and store live ISS data for analytics. Learn more!",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with set, googleBigQuery, httpRequest"
  ],
  "nodes": [
    {
      "name": "Google BigQuery",
      "type": "Process"
    },
    {
      "name": "HTTP Request",
      "type": "Data Input"
    },
    {
      "name": "Cron",
      "type": "Trigger"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "nodes": [
      {
        "name": "Google BigQuery",
        "type": "n8n-nodes-base.googleBigQuery",
        "position": [
          1010,
          240
        ],
        "parameters": {
          "columns": "name, latitude, longitude, timestamp",
          "options": {},
          "tableId": "position",
          "datasetId": "iss",
          "projectId": "supple-cabinet-289219"
        },
        "credentials": {
          "googleBigQueryOAuth2Api": "BigQuery Credentials"
        },
        "typeVersion": 1,
        "id": "16d1cb53c886db46"
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          810,
          240
        ],
        "parameters": {
          "values": {
            "number": [
              {
                "name": "latitude",
                "value": "={{$node[\"HTTP Request\"].json[\"0\"][\"latitude\"]}}"
              },
              {
                "name": "longitude",
                "value": "={{$node[\"HTTP Request\"].json[\"0\"][\"longitude\"]}}"
              },
              {
                "name": "timestamp",
                "value": "={{$node[\"HTTP Request\"].json[\"0\"][\"timestamp\"]}}"
              }
            ],
            "string": [
              {
                "name": "name",
                "value": "={{$json[\"0\"][\"name\"]}}"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1,
        "id": "cf6ce6264a761b3d"
      },
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          610,
          240
        ],
        "parameters": {
          "url": "https://api.wheretheiss.at/v1/satellites/25544/positions",
          "options": {},
          "queryParametersUi": {
            "parameter": [
              {
                "name": "timestamps",
                "value": "={{Date.now();}}"
              }
            ]
          }
        },
        "typeVersion": 1,
        "id": "c1c178a01f6f445f"
      },
      {
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "position": [
          410,
          240
        ],
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          }
        },
        "typeVersion": 1,
        "id": "22a5e6e9685b9184"
      }
    ],
    "connections": {
      "Set": {
        "main": [
          [
            {
              "node": "Google BigQuery",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cron": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "id": "e89192ad8b1ef9b9",
    "name": "Send location updates of the ISS every minute to a table in Google BigQuery",
    "settings": {},
    "staticData": null,
    "tags": [
      "google"
    ]
  }
}