market_understanding/full_workflow_metadata_n8n_workflows/workflow_10f95bbf_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/10f95bbf",
  "workflow_id": "10f95bbf",
  "workflow_id_display": "10f95bbf",
  "workflow_name": "Manage subscribers in ConvertKit",
  "category": "Communication & Collaboration",
  "difficulty": "✅ Beginner",
  "total_nodes": "4",
  "tools_integrations": "Slack",
  "tags": [
    "slack"
  ],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ 1-2 hrs",
  "use_cases": [],
  "what_it_does": "Streamline support: Auto-capture tickets, enrich with CRM data, route by priority, notify teams on Slack, and keep customers updated. Learn more!",
  "key_benefits": [
    "Communication automation",
    "Integration with manualTrigger, convertKit"
  ],
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "Trigger"
    },
    {
      "name": "ConvertKit",
      "type": "Process"
    },
    {
      "name": "ConvertKit1",
      "type": "Process"
    },
    {
      "name": "ConvertKit2",
      "type": "Process"
    }
  ],
  "api_connections": [
    "Slack API"
  ],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "id": "25",
    "name": "Add subscriber to form, create tag and subscriber to the tag",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          300,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "ConvertKit",
        "type": "n8n-nodes-base.convertKit",
        "position": [
          500,
          300
        ],
        "parameters": {
          "id": 1657198,
          "email": "",
          "additionalFields": {}
        },
        "credentials": {
          "convertKitApi": "convertkit"
        },
        "typeVersion": 1
      },
      {
        "name": "ConvertKit1",
        "type": "n8n-nodes-base.convertKit",
        "position": [
          710,
          300
        ],
        "parameters": {
          "name": "",
          "resource": "tag"
        },
        "credentials": {
          "convertKitApi": "convertkit"
        },
        "typeVersion": 1
      },
      {
        "name": "ConvertKit2",
        "type": "n8n-nodes-base.convertKit",
        "position": [
          910,
          300
        ],
        "parameters": {
          "email": "={{$node[\"ConvertKit\"].json[\"subscriber\"][\"email_address\"]}}",
          "tagId": 1850395,
          "resource": "tagSubscriber",
          "operation": "add",
          "additionalFields": {
            "fields": {
              "field": []
            }
          }
        },
        "credentials": {
          "convertKitApi": "convertkit"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "ConvertKit": {
        "main": [
          [
            {
              "node": "ConvertKit1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ConvertKit1": {
        "main": [
          [
            {
              "node": "ConvertKit2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "ConvertKit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}