market_understanding/full_workflow_metadata_n8n_workflows/workflow_9b8f0074_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/9b8f0074",
  "workflow_id": "9b8f0074",
  "workflow_id_display": "9b8f0074",
  "workflow_name": "Create, add an attachment, and send a draft using Microsoft Outlook",
  "category": "Other",
  "difficulty": "✅ Beginner",
  "total_nodes": "5",
  "tools_integrations": null,
  "tags": [],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ <15 mins",
  "use_cases": [],
  "what_it_does": "Effortlessly create Outlook drafts with HTML or text, add attachments from any source, and send to multiple recipients. Learn more about this workflow!",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with manualTrigger, httpRequest, microsoftOutlook"
  ],
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "Trigger"
    },
    {
      "name": "Microsoft Outlook",
      "type": "Process"
    },
    {
      "name": "HTTP Request",
      "type": "Data Input"
    },
    {
      "name": "Microsoft Outlook1",
      "type": "Process"
    },
    {
      "name": "Microsoft Outlook2",
      "type": "Process"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "id": "193",
    "name": "Create, add an attachment, and send a draft using the Microsoft Outlook node",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          250,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Microsoft Outlook",
        "type": "n8n-nodes-base.microsoftOutlook",
        "position": [
          450,
          300
        ],
        "parameters": {
          "subject": "Hello from n8n!",
          "resource": "draft",
          "bodyContent": "<h1>Hello from n8n!</h1> <p>We are sending this email using the Microsoft Outlook node in <a href=\"https://n8n.io\">n8n</a></p> <p>Best,</p> <p>Sender</p>",
          "additionalFields": {
            "bodyContentType": "html"
          }
        },
        "credentials": {
          "microsoftOutlookOAuth2Api": "Micrsoft Outlook Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          650,
          300
        ],
        "parameters": {
          "url": "https://n8n.io/n8n-logo.png",
          "options": {},
          "responseFormat": "file"
        },
        "typeVersion": 1
      },
      {
        "name": "Microsoft Outlook1",
        "type": "n8n-nodes-base.microsoftOutlook",
        "position": [
          850,
          300
        ],
        "parameters": {
          "resource": "messageAttachment",
          "messageId": "={{$node[\"Microsoft Outlook\"].json[\"id\"]}}",
          "additionalFields": {
            "fileName": "n8n.png"
          }
        },
        "credentials": {
          "microsoftOutlookOAuth2Api": "Micrsoft Outlook Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Microsoft Outlook2",
        "type": "n8n-nodes-base.microsoftOutlook",
        "position": [
          1050,
          300
        ],
        "parameters": {
          "resource": "draft",
          "messageId": "={{$node[\"Microsoft Outlook\"].json[\"id\"]}}",
          "operation": "send",
          "additionalFields": {
            "recipients": "abc@example.com"
          }
        },
        "credentials": {
          "microsoftOutlookOAuth2Api": "Micrsoft Outlook Credentials"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Microsoft Outlook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Microsoft Outlook": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Microsoft Outlook1": {
        "main": [
          [
            {
              "node": "Microsoft Outlook2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Microsoft Outlook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}