market_understanding/full_workflow_metadata_n8n_workflows/workflow_e5d78868_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/e5d78868",
  "workflow_id": "e5d78868",
  "workflow_id_display": "e5d78868",
  "workflow_name": "Create a website screenshot and send via Telegram Channel",
  "category": "Customer Support",
  "difficulty": "✅ Beginner",
  "total_nodes": "3",
  "tools_integrations": "Telegram",
  "tags": [
    "telegram"
  ],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ <15 mins",
  "use_cases": [],
  "what_it_does": "Effortlessly capture website screenshots and send them to your Telegram channel instantly. Streamline sharing of web visuals—learn how it works!",
  "key_benefits": [
    "Communication automation",
    "Integration with manualTrigger, uproc, telegram"
  ],
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "Trigger"
    },
    {
      "name": "uProc",
      "type": "Process"
    }
  ],
  "api_connections": [
    "Telegram Bot"
  ],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "id": "191",
    "name": "Create a screenshot of a website and send it to a telegram channel",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          250,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          650,
          300
        ],
        "parameters": {
          "file": "={{$node[\"uProc\"].json[\"message\"][\"result\"]}}",
          "chatId": "",
          "operation": "sendPhoto",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "Telegram n8n bot"
        },
        "typeVersion": 1
      },
      {
        "name": "uProc",
        "type": "n8n-nodes-base.uproc",
        "position": [
          450,
          300
        ],
        "parameters": {
          "url": "https://n8n.io",
          "tool": "getUrlScreenshot",
          "group": "image",
          "width": "1024",
          "fullpage": "yes",
          "additionalOptions": {}
        },
        "credentials": {
          "uprocApi": "uProc credentials"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "uProc": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "uProc",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}