market_understanding/full_workflow_metadata_n8n_workflows/workflow_3f62126f_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/3f62126f",
  "workflow_id": "3f62126f",
  "workflow_id_display": "3f62126f",
  "workflow_name": "Capture Website Screenshots via Google Sheets to Google Drive with CustomJS",
  "category": "IT & Development",
  "difficulty": "✅ Beginner",
  "total_nodes": "3",
  "tools_integrations": "Google Drive, Google Sheets",
  "tags": [
    "google"
  ],
  "author_name": "CustomJS",
  "author_profile_url": "https://n8n.io/creators/customjs/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ 15-30 mins",
  "use_cases": [],
  "what_it_does": "Automate website screenshots from Google Sheets with n8n! Capture, upload, and organize images in Google Drive for seamless web monitoring. Learn more.",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with websiteScreenshot, googleSheetsTrigger, googleDrive"
  ],
  "nodes": [
    {
      "name": "Google Sheets Trigger",
      "type": "Trigger"
    },
    {
      "name": "Take a screenshot of a website",
      "type": "Process"
    },
    {
      "name": "Store Screenshots",
      "type": "Process"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "meta": {
      "instanceId": "b503899dfd9ae32bbf8e1f446a1f2c9b3c59f80c79b274c49b1606b7ae9579e1"
    },
    "nodes": [
      {
        "id": "21da7bb6-6544-4756-9d0a-ab8ae21650d4",
        "name": "Google Sheets Trigger",
        "type": "n8n-nodes-base.googleSheetsTrigger",
        "position": [
          -120,
          -20
        ],
        "parameters": {
          "event": "rowAdded",
          "options": {},
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SP8Y-qffC96ZV3ueVUYWP5pjqtaycaM7Kbv5L-ztw5g/edit#gid=0",
            "cachedResultName": "Sheet1"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "1SP8Y-qffC96ZV3ueVUYWP5pjqtaycaM7Kbv5L-ztw5g",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SP8Y-qffC96ZV3ueVUYWP5pjqtaycaM7Kbv5L-ztw5g/edit?usp=drivesdk",
            "cachedResultName": "URL list"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "39a9a0a3-13c7-4271-bca4-31848201e48b",
        "name": "Take a screenshot of a website",
        "type": "@custom-js/n8n-nodes-pdf-toolkit.websiteScreenshot",
        "position": [
          160,
          -20
        ],
        "parameters": {
          "urlInput": "={{ $json.Url }}"
        },
        "typeVersion": 1
      },
      {
        "id": "1dc3cb1a-99ee-4e85-b628-0f4a77149728",
        "name": "Store Screenshots",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          400,
          -20
        ],
        "parameters": {
          "name": "={{ $json.Title }}.png",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "options": {},
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "1oFbmzgG2fsRix45r5JtowYjAdwskJ0P6",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1oFbmzgG2fsRix45r5JtowYjAdwskJ0P6",
            "cachedResultName": "screenshots"
          }
        },
        "typeVersion": 3
      }
    ],
    "pinData": {},
    "connections": {
      "Google Sheets Trigger": {
        "main": [
          [
            {
              "node": "Take a screenshot of a website",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Take a screenshot of a website": {
        "main": [
          [
            {
              "node": "Store Screenshots",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "id": "919cced789f904e4",
    "name": "Capture Website Screenshots via Google Sheets to Google Drive with CustomJS",
    "settings": {},
    "staticData": null,
    "tags": [
      "google"
    ]
  }
}