market_understanding/full_workflow_metadata_n8n_workflows/workflow_38249662_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/38249662",
  "workflow_id": "38249662",
  "workflow_id_display": "38249662",
  "workflow_name": "Move metrics from Google Sheets to Orbit",
  "category": "Data & Analytics",
  "difficulty": "✅ Beginner",
  "total_nodes": "6",
  "tools_integrations": "Google Sheets",
  "tags": [
    "google"
  ],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ <15 mins",
  "use_cases": [],
  "what_it_does": "Effortlessly sync Google Sheets metrics to Orbit. Automate data transfers, save time, and boost accuracy with streamlined, seamless integration.",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with orbit, merge, googleSheets"
  ],
  "nodes": [
    {
      "name": "Get Members",
      "type": "Data Output"
    },
    {
      "name": "Get Activities",
      "type": "Data Output"
    },
    {
      "name": "Merge",
      "type": "Data Processing"
    },
    {
      "name": "Add Members",
      "type": "Process"
    },
    {
      "name": "Get all members",
      "type": "Process"
    },
    {
      "name": "Add Activities",
      "type": "Process"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "name": "Moving metrics from Google Sheets to Orbit",
    "nodes": [
      {
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          1473,
          426
        ],
        "parameters": {
          "mode": "mergeByKey",
          "propertyName1": "GitHub Username",
          "propertyName2": "attributes.slug"
        },
        "typeVersion": 1,
        "id": "a763e120c92d1c00"
      },
      {
        "name": "Add Members",
        "type": "n8n-nodes-base.orbit",
        "position": [
          1073,
          326
        ],
        "parameters": {
          "operation": "upsert",
          "identityUi": {
            "identityValue": {
              "source": "github",
              "searchBy": "username",
              "username": "={{$json[\"GitHub\"]}}"
            }
          },
          "workspaceId": "543",
          "additionalFields": {
            "name": "={{$json[\"Name\"]}}",
            "tShirt": "={{$json[\"T-Shirt Size\"]}}",
            "location": "={{$json[\"Location\"]}}",
            "tagsToAdd": "={{$json[\"Tags\"]}}"
          }
        },
        "credentials": {
          "orbitApi": "Orbit Credentials"
        },
        "typeVersion": 1,
        "id": "fa5bb676754f27ca"
      },
      {
        "name": "Get all members",
        "type": "n8n-nodes-base.orbit",
        "position": [
          1273,
          526
        ],
        "parameters": {
          "options": {},
          "operation": "getAll",
          "returnAll": true,
          "workspaceId": "543"
        },
        "credentials": {
          "orbitApi": "Orbit Credentials"
        },
        "typeVersion": 1,
        "id": "bf3bb9cdaa51965c"
      },
      {
        "name": "Get Members",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          873,
          326
        ],
        "parameters": {
          "range": "Members!A:F",
          "options": {},
          "sheetId": "1GiR5glinWBUJ-pw3w8LpcuwyOXst2z5nnFSak8DQrMQ",
          "authentication": "oAuth2"
        },
        "credentials": {
          "googleSheetsOAuth2Api": "Google Sheets Credentials"
        },
        "typeVersion": 1,
        "id": "2a0034df4ccb76d2"
      },
      {
        "name": "Get Activities",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          1273,
          326
        ],
        "parameters": {
          "range": "Activities!A:D",
          "options": {
            "returnAllMatches": true
          },
          "sheetId": "={{$node[\"Get Members\"].parameter[\"sheetId\"]}}",
          "operation": "lookup",
          "lookupValue": "={{$node[\"Get Members\"].json[\"GitHub\"]}}",
          "lookupColumn": "GitHub Username",
          "authentication": "oAuth2"
        },
        "credentials": {
          "googleSheetsOAuth2Api": "Google Sheets Credentials"
        },
        "typeVersion": 1,
        "id": "d0bbe94e400c7c06"
      },
      {
        "name": "Add Activities",
        "type": "n8n-nodes-base.orbit",
        "position": [
          1673,
          426
        ],
        "parameters": {
          "title": "={{$json[\"Title\"]}}",
          "memberId": "={{$json[\"id\"]}}",
          "resource": "activity",
          "workspaceId": "543",
          "additionalFields": {
            "link": "={{$json[\"Activity Link\"]}}",
            "description": "={{$node[\"Merge\"].json[\"Description\"]}}"
          }
        },
        "credentials": {
          "orbitApi": "Orbit Credentials"
        },
        "typeVersion": 1,
        "id": "8b0c802e3a95aa15"
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Merge": {
        "main": [
          [
            {
              "node": "Add Activities",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Members": {
        "main": [
          [
            {
              "node": "Get Activities",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Members": {
        "main": [
          [
            {
              "node": "Add Members",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Activities": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get all members": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      }
    },
    "id": "1327634d182b6044",
    "staticData": null,
    "tags": [
      "google"
    ]
  }
}