market_understanding/full_workflow_metadata_n8n_workflows/workflow_653d28d0_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/653d28d0",
  "workflow_id": "653d28d0",
  "workflow_id_display": "653d28d0",
  "workflow_name": "Create, update and get a product from WooCommerce",
  "category": "Other",
  "difficulty": "✅ Beginner",
  "total_nodes": "4",
  "tools_integrations": null,
  "tags": [],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 E-commerce Automation",
  "setup_time": "⏱️ <15 mins",
  "use_cases": [],
  "what_it_does": "Easily create, update, and retrieve WooCommerce products with this workflow. Streamline catalog management and boost efficiency—learn more now!",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with manualTrigger, wooCommerce"
  ],
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "Trigger"
    },
    {
      "name": "WooCommerce",
      "type": "Process"
    },
    {
      "name": "WooCommerce1",
      "type": "Process"
    },
    {
      "name": "WooCommerce2",
      "type": "Process"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "id": "187",
    "name": "Create, update and get a product from WooCommerce",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          220,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "WooCommerce",
        "type": "n8n-nodes-base.wooCommerce",
        "position": [
          430,
          300
        ],
        "parameters": {
          "name": "n8n Sweatshirt",
          "imagesUi": {
            "imagesValues": []
          },
          "metadataUi": {
            "metadataValues": []
          },
          "additionalFields": {
            "description": "Stay warm with this sweatshirt!",
            "regularPrice": "30"
          }
        },
        "credentials": {
          "wooCommerceApi": "woocommerce"
        },
        "typeVersion": 1
      },
      {
        "name": "WooCommerce1",
        "type": "n8n-nodes-base.wooCommerce",
        "position": [
          630,
          300
        ],
        "parameters": {
          "operation": "update",
          "productId": "={{$node[\"WooCommerce\"].json[\"id\"]}}",
          "updateFields": {
            "stockQuantity": 100
          }
        },
        "credentials": {
          "wooCommerceApi": "woocommerce"
        },
        "typeVersion": 1
      },
      {
        "name": "WooCommerce2",
        "type": "n8n-nodes-base.wooCommerce",
        "position": [
          830,
          300
        ],
        "parameters": {
          "operation": "get",
          "productId": "={{$node[\"WooCommerce\"].json[\"id\"]}}"
        },
        "credentials": {
          "wooCommerceApi": "woocommerce"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "WooCommerce": {
        "main": [
          [
            {
              "node": "WooCommerce1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "WooCommerce1": {
        "main": [
          [
            {
              "node": "WooCommerce2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "WooCommerce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}