market_understanding/full_workflow_metadata_n8n_workflows/workflow_972a1d5e_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/972a1d5e",
  "workflow_id": "972a1d5e",
  "workflow_id_display": "972a1d5e",
  "workflow_name": "Automate testimonials in Strapi with n8n",
  "category": "IT & Development",
  "difficulty": "🎯 Advanced",
  "total_nodes": "14",
  "tools_integrations": "API, Twitter",
  "tags": [
    "twitter"
  ],
  "author_name": "Tom",
  "author_profile_url": "https://n8n.io/creators/mutedjam/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ 1-2 hrs",
  "use_cases": [],
  "what_it_does": "Automate Twitter scanning, form response, and sentiment analysis with n8n. Unified workflow stores results in Strapi—efficient, real-time insights. Learn more!",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with googleCloudNaturalLanguage, interval, if"
  ],
  "nodes": [
    {
      "name": "Simplify Result",
      "type": "Data Processing"
    },
    {
      "name": "Simplify Webhook Result",
      "type": "Data Processing"
    },
    {
      "name": "Store in Strapi",
      "type": "Process"
    },
    {
      "name": "Every 30 Minutes",
      "type": "Process"
    },
    {
      "name": "Search Tweets",
      "type": "Process"
    },
    {
      "name": "Webhook",
      "type": "Trigger"
    },
    {
      "name": "Analyze Form Submission",
      "type": "Process"
    },
    {
      "name": "Analyze Tweet",
      "type": "Process"
    },
    {
      "name": "Merge Form Sentiment with Source",
      "type": "Data Processing"
    },
    {
      "name": "Merge Tweet Sentiment with Source",
      "type": "Data Processing"
    },
    {
      "name": "Store Form Submission in Strapi",
      "type": "Process"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "nodes": [
      {
        "name": "Simplify Result",
        "type": "n8n-nodes-base.set",
        "position": [
          680,
          100
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "Content",
                "value": "={{$json[\"full_text\"].replace(/(?:https?|ftp):\\/\\/[\\n\\S]+/g, '')}}"
              },
              {
                "name": "Author",
                "value": "={{$json[\"user\"][\"name\"]}} (@{{$json[\"user\"][\"screen_name\"]}})"
              },
              {
                "name": "Created",
                "value": "={{new Date($json[\"created_at\"]).toISOString()}}"
              },
              {
                "name": "URL",
                "value": "=https://twitter.com/{{$json[\"user\"][\"screen_name\"]}}/status/{{$json[\"id_str\"]}}"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1,
        "id": "a36a1d80f5c100a6"
      },
      {
        "name": "Store in Strapi",
        "type": "n8n-nodes-base.strapi",
        "position": [
          1780,
          100
        ],
        "parameters": {
          "columns": "Content,Author,Created,URL",
          "operation": "create",
          "contentType": "posts"
        },
        "credentials": {
          "strapiApi": {
            "id": "136",
            "name": "Strapi Demo"
          }
        },
        "typeVersion": 1,
        "id": "c5cdabf2facee668"
      },
      {
        "name": "Every 30 Minutes",
        "type": "n8n-nodes-base.interval",
        "position": [
          240,
          100
        ],
        "parameters": {
          "unit": "minutes",
          "interval": 30
        },
        "typeVersion": 1,
        "id": "64a5d19d0c23f8ef"
      },
      {
        "name": "Is Retweet or Old?",
        "type": "n8n-nodes-base.if",
        "position": [
          900,
          100
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json[\"Content\"]}}",
                "value2": "RT @",
                "operation": "startsWith"
              }
            ],
            "dateTime": [
              {
                "value1": "={{$json[\"Created\"]}}",
                "value2": "={{new Date(new Date().getTime() - 30 * 60 * 1000)}}",
                "operation": "before"
              }
            ]
          },
          "combineOperation": "any"
        },
        "typeVersion": 1,
        "id": "2ea935524ff36ab8"
      },
      {
        "name": "Search Tweets",
        "type": "n8n-nodes-base.twitter",
        "position": [
          460,
          100
        ],
        "parameters": {
          "operation": "search",
          "searchText": "(strapi OR n8n.io) AND lang:en",
          "additionalFields": {
            "tweetMode": "extended",
            "resultType": "recent"
          }
        },
        "credentials": {
          "twitterOAuth1Api": {
            "id": "15",
            "name": "@MutedJam"
          }
        },
        "typeVersion": 1,
        "id": "7307ed8a4e04eecf"
      },
      {
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          240,
          -120
        ],
        "webhookId": "6f833370-9068-44ef-8e56-4ceb563a851e",
        "parameters": {
          "path": "6f833370-9068-44ef-8e56-4ceb563a851e",
          "options": {},
          "httpMethod": "POST"
        },
        "typeVersion": 1,
        "id": "173c2e39565b5df7"
      },
      {
        "name": "Simplify Webhook Result",
        "type": "n8n-nodes-base.set",
        "position": [
          460,
          -120
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "Content",
                "value": "={{$json[\"body\"][\"data\"][\"fields\"][1][\"value\"]}}"
              },
              {
                "name": "Author",
                "value": "={{$json[\"body\"][\"data\"][\"fields\"][0][\"value\"]}}"
              },
              {
                "name": "Created",
                "value": "={{new Date().toISOString()}}"
              },
              {
                "name": "URL"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1,
        "id": "13fabb29393c586c"
      },
      {
        "name": "Analyze Form Submission",
        "type": "n8n-nodes-base.googleCloudNaturalLanguage",
        "position": [
          680,
          -220
        ],
        "parameters": {
          "content": "={{$json[\"Content\"]}}",
          "options": {}
        },
        "credentials": {
          "googleCloudNaturalLanguageOAuth2Api": {
            "id": "138",
            "name": "Google Cloud Natural Language account"
          }
        },
        "typeVersion": 1,
        "id": "7b6aa3747708a57a"
      },
      {
        "name": "Analyze Tweet",
        "type": "n8n-nodes-base.googleCloudNaturalLanguage",
        "position": [
          1120,
          200
        ],
        "parameters": {
          "content": "={{$json[\"Content\"]}}",
          "options": {}
        },
        "credentials": {
          "googleCloudNaturalLanguageOAuth2Api": {
            "id": "138",
            "name": "Google Cloud Natural Language account"
          }
        },
        "typeVersion": 1,
        "id": "22633554ac148d91"
      },
      {
        "name": "Merge Form Sentiment with Source",
        "type": "n8n-nodes-base.merge",
        "position": [
          900,
          -120
        ],
        "parameters": {
          "mode": "mergeByIndex"
        },
        "typeVersion": 1,
        "id": "986e66bf08c3c34f"
      },
      {
        "name": "Merge Tweet Sentiment with Source",
        "type": "n8n-nodes-base.merge",
        "position": [
          1340,
          100
        ],
        "parameters": {
          "mode": "mergeByIndex"
        },
        "typeVersion": 1,
        "id": "6bd2bdd9675a2a1b"
      },
      {
        "name": "Positive Form Sentiment?",
        "type": "n8n-nodes-base.if",
        "position": [
          1120,
          -120
        ],
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{$json[\"documentSentiment\"][\"score\"]}}",
                "value2": 0.4,
                "operation": "larger"
              }
            ]
          }
        },
        "typeVersion": 1,
        "id": "0252c664ad3bb928"
      },
      {
        "name": "Store Form Submission in Strapi",
        "type": "n8n-nodes-base.strapi",
        "position": [
          1340,
          -120
        ],
        "parameters": {
          "columns": "Content,Author,Created,URL",
          "operation": "create",
          "contentType": "posts"
        },
        "credentials": {
          "strapiApi": {
            "id": "136",
            "name": "Strapi Demo"
          }
        },
        "typeVersion": 1,
        "id": "4899fe65d01eb3cc"
      },
      {
        "name": "Positive Tweet Sentiment?",
        "type": "n8n-nodes-base.if",
        "position": [
          1560,
          100
        ],
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{$json[\"documentSentiment\"][\"score\"]}}",
                "value2": 0.3,
                "operation": "larger"
              }
            ]
          }
        },
        "typeVersion": 1,
        "id": "00c43aa48b4734ec"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Simplify Webhook Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze Tweet": {
        "main": [
          [
            {
              "node": "Merge Tweet Sentiment with Source",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Search Tweets": {
        "main": [
          [
            {
              "node": "Simplify Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simplify Result": {
        "main": [
          [
            {
              "node": "Is Retweet or Old?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Every 30 Minutes": {
        "main": [
          [
            {
              "node": "Search Tweets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Retweet or Old?": {
        "main": [
          null,
          [
            {
              "node": "Analyze Tweet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Tweet Sentiment with Source",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze Form Submission": {
        "main": [
          [
            {
              "node": "Merge Form Sentiment with Source",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simplify Webhook Result": {
        "main": [
          [
            {
              "node": "Analyze Form Submission",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Form Sentiment with Source",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Positive Form Sentiment?": {
        "main": [
          [
            {
              "node": "Store Form Submission in Strapi",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Positive Tweet Sentiment?": {
        "main": [
          [
            {
              "node": "Store in Strapi",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Form Sentiment with Source": {
        "main": [
          [
            {
              "node": "Positive Form Sentiment?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Tweet Sentiment with Source": {
        "main": [
          [
            {
              "node": "Positive Tweet Sentiment?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "id": "51ce163b5689421c",
    "name": "Automate testimonials in Strapi with n8n",
    "settings": {},
    "staticData": null,
    "tags": [
      "twitter"
    ]
  }
}