market_understanding/full_workflow_metadata_n8n_workflows/workflow_27202970_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/27202970",
  "workflow_id": "27202970",
  "workflow_id_display": "27202970",
  "workflow_name": "Create, update, and get a monitor using UptimeRobot",
  "category": "Other",
  "difficulty": "✅ Beginner",
  "total_nodes": "3",
  "tools_integrations": null,
  "tags": [
    "http"
  ],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ 1-2 hrs",
  "use_cases": [],
  "what_it_does": "Effortlessly create, update, and retrieve HTTP(S) monitors with UptimeRobot integration. Simplify website uptime tracking—learn more now!",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with uptimeRobot"
  ],
  "nodes": [
    {
      "name": "UptimeRobot2",
      "type": "Process"
    },
    {
      "name": "UptimeRobot",
      "type": "Process"
    },
    {
      "name": "UptimeRobot1",
      "type": "Process"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "nodes": [
      {
        "name": "UptimeRobot2",
        "type": "n8n-nodes-base.uptimeRobot",
        "position": [
          890,
          320
        ],
        "parameters": {
          "id": "={{$json[\"id\"]}}",
          "resource": "monitor",
          "operation": "get"
        },
        "credentials": {
          "uptimeRobotApi": "UptimeRobot API Credentials"
        },
        "typeVersion": 1,
        "id": "ceccb0ee318395b3"
      },
      {
        "name": "UptimeRobot",
        "type": "n8n-nodes-base.uptimeRobot",
        "position": [
          490,
          320
        ],
        "parameters": {
          "url": "https://n8n.io",
          "type": 1,
          "resource": "monitor",
          "operation": "create",
          "friendlyName": "n8n"
        },
        "credentials": {
          "uptimeRobotApi": "UptimeRobot API Credentials"
        },
        "typeVersion": 1,
        "id": "e09c7abf33f1999b"
      },
      {
        "name": "UptimeRobot1",
        "type": "n8n-nodes-base.uptimeRobot",
        "position": [
          690,
          320
        ],
        "parameters": {
          "id": "={{$json[\"id\"]}}",
          "resource": "monitor",
          "operation": "update",
          "updateFields": {
            "friendly_name": "n8n website"
          }
        },
        "credentials": {
          "uptimeRobotApi": "UptimeRobot API Credentials"
        },
        "typeVersion": 1,
        "id": "84031da678a0a727"
      }
    ],
    "connections": {
      "UptimeRobot": {
        "main": [
          [
            {
              "node": "UptimeRobot1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UptimeRobot1": {
        "main": [
          [
            {
              "node": "UptimeRobot2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "id": "f5d562d906b57949",
    "name": "Create, update, and get a monitor using UptimeRobot",
    "settings": {},
    "staticData": null,
    "tags": [
      "http"
    ]
  }
}