market_understanding/full_workflow_metadata_n8n_workflows/workflow_b13b879a_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/b13b879a",
  "workflow_id": "b13b879a",
  "workflow_id_display": "b13b879a",
  "workflow_name": "Manage Slack channel and users automatically",
  "category": "Communication & Collaboration",
  "difficulty": "⚡ Intermediate",
  "total_nodes": "6",
  "tools_integrations": "Email, Gmail, Google Sheets, Slack",
  "tags": [
    "slack",
    "google🤖 gmail"
  ],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 AI Process Automation",
  "setup_time": "⏱️ 30 mins - 1 hr",
  "use_cases": [],
  "what_it_does": "This workflow automates email processing using AI to intelligently categorize, respond to, and route messages. It monitors your inbox, uses AI to understand email content and intent, then takes appropriate actions like auto-responding, forwarding to the right person, or creating tasks in your project management system.",
  "key_benefits": [
    "Email automation"
  ],
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "Trigger"
    },
    {
      "name": "HTTP Request",
      "type": "Data Input"
    }
  ],
  "api_connections": [
    "Slack API"
  ],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "id": "164",
    "name": "Create a channel, invite users to the channel, post a message, and upload a file",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          250,
          250
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Slack",
        "type": "n8n-nodes-base.slack",
        "position": [
          450,
          250
        ],
        "parameters": {
          "resource": "channel",
          "channelId": "n8n-docs",
          "additionalFields": {}
        },
        "credentials": {
          "slackApi": "Slack Bot Access Token"
        },
        "typeVersion": 1
      },
      {
        "name": "Slack1",
        "type": "n8n-nodes-base.slack",
        "position": [
          650,
          250
        ],
        "parameters": {
          "userIds": [
            "U01797FGD6J"
          ],
          "resource": "channel",
          "channelId": "={{$node[\"Slack\"].json[\"id\"]}}",
          "operation": "invite"
        },
        "credentials": {
          "slackApi": "Slack Bot Access Token"
        },
        "typeVersion": 1
      },
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1050,
          250
        ],
        "parameters": {
          "url": "https://n8n.io/n8n-logo.png",
          "options": {},
          "responseFormat": "file"
        },
        "typeVersion": 1
      },
      {
        "name": "Slack2",
        "type": "n8n-nodes-base.slack",
        "position": [
          850,
          250
        ],
        "parameters": {
          "text": "Welcome to the channel!",
          "as_user": true,
          "channel": "={{$node[\"Slack\"].json[\"id\"]}}",
          "attachments": [
            {
              "title": "Logo",
              "image_url": "https://n8n.io/n8n-logo.png"
            }
          ],
          "otherOptions": {}
        },
        "credentials": {
          "slackApi": "Slack Bot Access Token"
        },
        "typeVersion": 1
      },
      {
        "name": "Slack3",
        "type": "n8n-nodes-base.slack",
        "position": [
          1250,
          250
        ],
        "parameters": {
          "options": {
            "channelIds": [
              "C01FZ3TJR5L"
            ]
          },
          "resource": "file",
          "binaryData": true
        },
        "credentials": {
          "slackApi": "Slack Bot Access Token"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Slack": {
        "main": [
          [
            {
              "node": "Slack1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack1": {
        "main": [
          [
            {
              "node": "Slack2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack2": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Slack3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}