market_understanding/full_workflow_metadata_n8n_workflows/workflow_9a35e5cf_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/9a35e5cf",
  "workflow_id": "9a35e5cf",
  "workflow_id_display": "9a35e5cf",
  "workflow_name": "Create, update, and get an entry in Strapi",
  "category": "Communication & Collaboration",
  "difficulty": "🎯 Advanced",
  "total_nodes": "6",
  "tools_integrations": "API, Email, Google Sheets, RSS, Slack",
  "tags": [
    "google",
    "slack"
  ],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 AI Process Automation",
  "setup_time": "⏱️ 1-2 hrs",
  "use_cases": [],
  "what_it_does": "Automate feedback collection: capture web form responses, store in Google Sheets, send thank-you emails, and notify your team via Slack. Learn more!",
  "key_benefits": [
    "Communication automation",
    "Integration with manualTrigger, strapi, set"
  ],
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "Trigger"
    },
    {
      "name": "Set1",
      "type": "Data Processing"
    },
    {
      "name": "Strapi",
      "type": "Process"
    },
    {
      "name": "Strapi1",
      "type": "Process"
    },
    {
      "name": "Strapi2",
      "type": "Process"
    }
  ],
  "api_connections": [
    "Slack API"
  ],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "id": "119",
    "name": "Create, update, and get an entry in Strapi",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          250,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Strapi",
        "type": "n8n-nodes-base.strapi",
        "position": [
          650,
          300
        ],
        "parameters": {
          "columns": "Title, Content, Description",
          "operation": "create",
          "contentType": "posts"
        },
        "credentials": {
          "strapiApi": "strapi"
        },
        "typeVersion": 1
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          450,
          300
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "Title",
                "value": "Automate Strapi with n8n"
              },
              {
                "name": "Content",
                "value": "Strapi is a headless CMS. We will use Strapi and n8n to automate our content creation workflows."
              },
              {
                "name": "Description",
                "value": "Learn how to automate Strapi with n8n."
              }
            ]
          },
          "options": {}
        },
        "typeVersion": 1
      },
      {
        "name": "Strapi1",
        "type": "n8n-nodes-base.strapi",
        "position": [
          1050,
          300
        ],
        "parameters": {
          "columns": "slug",
          "operation": "update",
          "contentType": "={{$node[\"Strapi\"].parameter[\"contentType\"]}}"
        },
        "credentials": {
          "strapiApi": "strapi"
        },
        "typeVersion": 1
      },
      {
        "name": "Set1",
        "type": "n8n-nodes-base.set",
        "position": [
          850,
          300
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "id",
                "value": "={{$node[\"Strapi\"].json[\"id\"]}}"
              },
              {
                "name": "slug",
                "value": "automate-strapi-with-n8n"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1
      },
      {
        "name": "Strapi2",
        "type": "n8n-nodes-base.strapi",
        "position": [
          1250,
          300
        ],
        "parameters": {
          "entryId": "={{$node[\"Strapi1\"].json[\"id\"]}}",
          "contentType": "={{$node[\"Strapi\"].parameter[\"contentType\"]}}"
        },
        "credentials": {
          "strapiApi": "strapi"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Set": {
        "main": [
          [
            {
              "node": "Strapi",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set1": {
        "main": [
          [
            {
              "node": "Strapi1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Strapi": {
        "main": [
          [
            {
              "node": "Set1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Strapi1": {
        "main": [
          [
            {
              "node": "Strapi2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}