market_understanding/full_workflow_metadata_n8n_workflows/workflow_c4dd5abe_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/c4dd5abe",
  "workflow_id": "c4dd5abe",
  "workflow_id_display": "c4dd5abe",
  "workflow_name": "Transform XML data and upload to Dropbox",
  "category": "Other",
  "difficulty": "✅ Beginner",
  "total_nodes": "5",
  "tools_integrations": "Dropbox",
  "tags": [
    "xml",
    "json"
  ],
  "author_name": "Jan Oberhauser",
  "author_profile_url": null,
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ <15 mins",
  "use_cases": [],
  "what_it_does": "Easily convert XML to JSON, update titles, revert to XML, and upload to Dropbox—all in one seamless, secure workflow. Learn more now!",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with dropbox, set, httpRequest"
  ],
  "nodes": [
    {
      "name": "Change title",
      "type": "Data Processing"
    },
    {
      "name": "To JSON",
      "type": "Process"
    },
    {
      "name": "Get XML Data",
      "type": "Data Input"
    },
    {
      "name": "Dropbox",
      "type": "Process"
    },
    {
      "name": "To XML",
      "type": "Process"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "nodes": [
      {
        "name": "To JSON",
        "type": "n8n-nodes-base.xml",
        "position": [
          700,
          300
        ],
        "parameters": {
          "options": {}
        },
        "typeVersion": 1,
        "id": "470835ce759cdcd9"
      },
      {
        "name": "Change title",
        "type": "n8n-nodes-base.set",
        "position": [
          900,
          300
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "slideshow.title",
                "value": "New Title Name"
              }
            ]
          }
        },
        "typeVersion": 1,
        "id": "7a2499bc0c98b2f8"
      },
      {
        "name": "Get XML Data",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          500,
          300
        ],
        "parameters": {
          "url": "https://httpbin.org/xml",
          "responseFormat": "string"
        },
        "typeVersion": 1,
        "id": "48ddadf6cda2f259"
      },
      {
        "name": "Dropbox",
        "type": "n8n-nodes-base.dropbox",
        "position": [
          1300,
          300
        ],
        "parameters": {
          "path": "/my-xml-file.xml",
          "fileContent": "={{$node[\"To XML\"].data[\"data\"]}}"
        },
        "credentials": {
          "dropboxApi": ""
        },
        "typeVersion": 1,
        "id": "82c9efdefd4e3dab"
      },
      {
        "name": "To XML",
        "type": "n8n-nodes-base.xml",
        "position": [
          1100,
          300
        ],
        "parameters": {
          "mode": "jsonToxml",
          "options": {}
        },
        "typeVersion": 1,
        "id": "ea4731c6c1642ab9"
      }
    ],
    "connections": {
      "To XML": {
        "main": [
          [
            {
              "node": "Dropbox",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To JSON": {
        "main": [
          [
            {
              "node": "Change title",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Change title": {
        "main": [
          [
            {
              "node": "To XML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get XML Data": {
        "main": [
          [
            {
              "node": "To JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "id": "298ae1232705174a",
    "name": "Transform XML data and upload to Dropbox",
    "settings": {},
    "staticData": null,
    "tags": [
      "xml",
      "json"
    ]
  }
}