market_understanding/full_workflow_metadata_n8n_workflows/workflow_7e9a4912_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/7e9a4912",
  "workflow_id": "7e9a4912",
  "workflow_id_display": "7e9a4912",
  "workflow_name": "Get the price of BTC in EUR and send an SMS",
  "category": "Other",
  "difficulty": "✅ Beginner",
  "total_nodes": "5",
  "tools_integrations": "SMS",
  "tags": [],
  "author_name": "ghagrawal17",
  "author_profile_url": null,
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ <15 mins",
  "use_cases": [],
  "what_it_does": "Get real-time BTC price in EUR and receive instant SMS alerts when it surpasses 9000 EUR. Stay updated on Bitcoin surges—learn more now!",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with coinGecko, noOp, cron"
  ],
  "nodes": [
    {
      "name": "Cron",
      "type": "Trigger"
    },
    {
      "name": "CoinGecko",
      "type": "Process"
    },
    {
      "name": "NoOp",
      "type": "Process"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "id": "79",
    "name": "Get the price of BTC in EUR and send an SMS when the price is larger than EUR 9000",
    "nodes": [
      {
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "position": [
          590,
          500
        ],
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "CoinGecko",
        "type": "n8n-nodes-base.coinGecko",
        "position": [
          790,
          500
        ],
        "parameters": {
          "coinIds": [
            "bitcoin"
          ],
          "options": {},
          "operation": "price",
          "currencies": [
            "eur"
          ]
        },
        "typeVersion": 1
      },
      {
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "position": [
          990,
          500
        ],
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{$node[\"CoinGecko\"].json[\"bitcoin\"][\"eur\"]}}",
                "value2": 9000,
                "operation": "largerEqual"
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Twilio",
        "type": "n8n-nodes-base.twilio",
        "position": [
          1190,
          400
        ],
        "parameters": {
          "to": "1234",
          "from": "1234",
          "message": "=The price went up! The new price is {{$node[\"CoinGecko\"].json[\"bitcoin\"][\"eur\"]}}"
        },
        "credentials": {
          "twilioApi": "twilio-credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "NoOp",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1190,
          600
        ],
        "parameters": {},
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "IF": {
        "main": [
          [
            {
              "node": "Twilio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "NoOp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cron": {
        "main": [
          [
            {
              "node": "CoinGecko",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CoinGecko": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}