market_understanding/full_workflow_metadata_n8n_workflows/workflow_5cd6efb4_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/5cd6efb4",
  "workflow_id": "5cd6efb4",
  "workflow_id_display": "5cd6efb4",
  "workflow_name": "Get Weather Forecast via Telegram",
  "category": "Customer Support",
  "difficulty": "✅ Beginner",
  "total_nodes": "3",
  "tools_integrations": "Telegram",
  "tags": [
    "telegram"
  ],
  "author_name": "tanaypant",
  "author_profile_url": "https://n8n.io/creators/tanay1337/",
  "primary_use_case": "🎯 AI Chatbot Development",
  "setup_time": "⏱️ <15 mins",
  "use_cases": [],
  "what_it_does": "Receive instant weather updates on Telegram. Trigger real-time forecasts with a simple command—fast, detailed, and delivered directly to your chat. Learn more!",
  "key_benefits": [
    "Communication automation",
    "Integration with telegramTrigger, telegram, openWeatherMap"
  ],
  "nodes": [
    {
      "name": "Telegram Trigger",
      "type": "Trigger"
    },
    {
      "name": "OpenWeatherMap",
      "type": "Process"
    }
  ],
  "api_connections": [
    "Telegram Bot"
  ],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "id": "2",
    "name": "Telegram Weather Workflow",
    "nodes": [
      {
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "position": [
          270,
          220
        ],
        "parameters": {
          "updates": [
            "message"
          ]
        },
        "credentials": {
          "telegramApi": "Telegram"
        },
        "typeVersion": 1
      },
      {
        "name": "OpenWeatherMap",
        "type": "n8n-nodes-base.openWeatherMap",
        "position": [
          480,
          220
        ],
        "parameters": {
          "cityName": "berlin,de"
        },
        "credentials": {
          "openWeatherMapApi": "OpenWeatherMap"
        },
        "typeVersion": 1
      },
      {
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          670,
          220
        ],
        "parameters": {
          "text": "=Right now, we have {{$node[\"OpenWeatherMap\"].json[\"weather\"][0][\"description\"]}}. The temperature is {{$node[\"OpenWeatherMap\"].json[\"main\"][\"temp\"]}}°C but it really feels like {{$node[\"OpenWeatherMap\"].json[\"main\"][\"feels_like\"]}}°C 🙂",
          "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "Telegram"
        },
        "typeVersion": 1
      }
    ],
    "active": true,
    "settings": {},
    "connections": {
      "OpenWeatherMap": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "OpenWeatherMap",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}