market_understanding/full_workflow_metadata_n8n_workflows/workflow_c3dcdfdf_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/c3dcdfdf",
  "workflow_id": "c3dcdfdf",
  "workflow_id_display": "c3dcdfdf",
  "workflow_name": "Send Typeforms leads via Whatsapp (Twilio)",
  "category": "Customer Support",
  "difficulty": "✅ Beginner",
  "total_nodes": "3",
  "tools_integrations": "API, SMS, WhatsApp",
  "tags": [
    "whatsapp"
  ],
  "author_name": "Jean-Elie Lecuy",
  "author_profile_url": null,
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ 30 mins - 1 hr",
  "use_cases": [],
  "what_it_does": "Automatically send personalized WhatsApp messages to new Typeform leads via Twilio. Boost engagement and sales with rapid, seamless automated follow-up.",
  "key_benefits": [
    "Communication automation",
    "Integration with set, twilio, typeformTrigger"
  ],
  "nodes": [
    {
      "name": "Typeform Trigger",
      "type": "Trigger"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "id": 1,
    "name": "Send Typeforms leads via Whatsapp (Twilio)",
    "nodes": [
      {
        "name": "Typeform Trigger",
        "type": "n8n-nodes-base.typeformTrigger",
        "position": [
          460,
          300
        ],
        "webhookId": "a3c4dab3-6550-4e82-906f-db7f73ab35a5",
        "parameters": {
          "formId": "agRe2poK",
          "onlyAnswers": false,
          "authentication": "oAuth2"
        },
        "credentials": {
          "typeformOAuth2Api": {
            "id": "2",
            "name": "Typeform account"
          }
        },
        "retryOnFail": true,
        "typeVersion": 1
      },
      {
        "name": "Twilio",
        "type": "n8n-nodes-base.twilio",
        "position": [
          900,
          300
        ],
        "parameters": {
          "to": "+33659104857",
          "from": "+16065954936",
          "message": "=Hello, Here is a new customer who is looking for a Test : \n\n{{$json[\"Data\"]}}\n\nRegards, HelloSafe"
        },
        "credentials": {
          "twilioApi": {
            "id": "1",
            "name": "Twilio account"
          }
        },
        "retryOnFail": true,
        "typeVersion": 1
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          680,
          300
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "Data",
                "value": "=Last name : {{$node[\"Typeform Trigger\"].json[\"form_response\"][\"answers\"][\"And your *last name*?\"]}}\nFirst name :{{$node[\"Typeform Trigger\"].json[\"form_response\"][\"answers\"][\"Let's start with your* first name.*\"]}}\nNumber of child : {{$node[\"Typeform Trigger\"].json[\"form_response\"][\"answers\"][\"How many child do you have ?\"]}}\nCountry : {{$node[\"Typeform Trigger\"].json[\"form_response\"][\"answers\"][\"Lastly, [field:d566770d2197a78b], what country do you live in?\"]}}\nMail adress : {{$node[\"Typeform Trigger\"].json[\"form_response\"][\"answers\"][\"What *email address* can we reach you at? This is only to get in touch, not to send spam.\"]}}\nBirth date : {{$node[\"Typeform Trigger\"].json[\"form_response\"][\"answers\"][\"What is your birth date ?\"]}}"
              }
            ]
          },
          "options": {}
        },
        "typeVersion": 1
      }
    ],
    "active": true,
    "settings": {},
    "connections": {
      "Set": {
        "main": [
          [
            {
              "node": "Twilio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Twilio": {
        "main": [
          []
        ]
      },
      "Typeform Trigger": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}