market_understanding/full_workflow_metadata_n8n_workflows/workflow_b68697ed_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/b68697ed",
  "workflow_id": "b68697ed",
  "workflow_id_display": "b68697ed",
  "workflow_name": "Telegram sticker bot",
  "category": "Customer Support",
  "difficulty": "✅ Beginner",
  "total_nodes": "4",
  "tools_integrations": "Telegram",
  "tags": [
    "telegram"
  ],
  "author_name": "Jan Oberhauser",
  "author_profile_url": null,
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ 1-2 hrs",
  "use_cases": [],
  "what_it_does": "Automatically detect stickers in Telegram messages and reply with their ID. Enhance user interaction with instant, real-time sticker identification. Learn more!",
  "key_benefits": [
    "Communication automation",
    "Integration with if, telegramTrigger, telegram"
  ],
  "nodes": [
    {
      "name": "Telegram Trigger",
      "type": "Trigger"
    }
  ],
  "api_connections": [
    "Telegram Bot"
  ],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "nodes": [
      {
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "position": [
          450,
          300
        ],
        "parameters": {
          "updates": [
            "message"
          ]
        },
        "credentials": {
          "telegramApi": ""
        },
        "typeVersion": 1,
        "id": "ef3715e99a8e8e4b"
      },
      {
        "name": "Return Sticker",
        "type": "n8n-nodes-base.telegram",
        "position": [
          850,
          200
        ],
        "parameters": {
          "text": "=Hi {{$node[\"Look for Sticker\"].data[\"message\"][\"from\"][\"first_name\"]}}!\nThe ID of the sticker is: {{$node[\"Look for Sticker\"].data[\"message\"][\"sticker\"][\"file_id\"]}}\nIt is part of the sticker-set: {{$node[\"Look for Sticker\"].data[\"message\"][\"sticker\"][\"set_name\"]}}",
          "chatId": "={{$node[\"Look for Sticker\"].data[\"message\"][\"chat\"][\"id\"]}}",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": ""
        },
        "typeVersion": 1,
        "id": "b105fc4d53a30e4d"
      },
      {
        "name": "Return no Sticker found",
        "type": "n8n-nodes-base.telegram",
        "position": [
          850,
          400
        ],
        "parameters": {
          "text": "=Hi {{$node[\"Look for Sticker\"].data[\"message\"][\"from\"][\"first_name\"]}}!\nYour message did not contain any sticker.",
          "chatId": "={{$node[\"Look for Sticker\"].data[\"message\"][\"chat\"][\"id\"]}}",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "n8nTestBot"
        },
        "typeVersion": 1,
        "id": "05d33e57ddb2942c"
      },
      {
        "name": "Look for Sticker",
        "type": "n8n-nodes-base.if",
        "position": [
          650,
          300
        ],
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{!!$node[\"Telegram Trigger\"].data[\"message\"][\"sticker\"]}}",
                "value2": true
              }
            ]
          }
        },
        "typeVersion": 1,
        "id": "b98301aa27adc0d7"
      }
    ],
    "connections": {
      "Look for Sticker": {
        "main": [
          [
            {
              "node": "Return Sticker",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return no Sticker found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Look for Sticker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "id": "40fb5cdf9ad315d1",
    "name": "Telegram sticker bot",
    "settings": {},
    "staticData": null,
    "tags": [
      "telegram"
    ]
  }
}