market_understanding/full_workflow_metadata_n8n_workflows/workflow_c7840c4f_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/c7840c4f",
  "workflow_id": "c7840c4f",
  "workflow_id_display": "c7840c4f",
  "workflow_name": "OpenAI-powered tweet generator",
  "category": "Other",
  "difficulty": "✅ Beginner",
  "total_nodes": "5",
  "tools_integrations": "API, Airtable, OpenAI",
  "tags": [],
  "author_name": "Gareth Roll",
  "author_profile_url": null,
  "primary_use_case": "🎯 AI Process Automation",
  "setup_time": "⏱️ 30 mins - 1 hr",
  "use_cases": [],
  "what_it_does": "An automated workflow that integrates multiple services for enhanced automation.",
  "key_benefits": [
    "Process automation",
    "Data integration",
    "Workflow optimization"
  ],
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "Trigger"
    },
    {
      "name": "FunctionItem",
      "type": "Data Processing"
    },
    {
      "name": "Airtable",
      "type": "Data Output"
    },
    {
      "name": "HTTP Request",
      "type": "Data Input"
    }
  ],
  "api_connections": [
    "Airtable API"
  ],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          250,
          300
        ],
        "parameters": {},
        "typeVersion": 1,
        "id": "30ea5a94f08b42d3"
      },
      {
        "name": "FunctionItem",
        "type": "n8n-nodes-base.functionItem",
        "position": [
          450,
          300
        ],
        "parameters": {
          "functionCode": "// hashtag list\nconst Hashtags = [\n  \"#techtwitter\",\n  \"#n8n\"\n];\n\n// random output function\nconst randomHashtag = Hashtags[Math.floor(Math.random() * Hashtags.length)];\nitem.hashtag = randomHashtag;\nreturn item;"
        },
        "typeVersion": 1,
        "id": "04c9dc09cd07362f"
      },
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          650,
          300
        ],
        "parameters": {
          "url": "https://api.openai.com/v1/engines/text-davinci-001/completions",
          "options": {},
          "requestMethod": "POST",
          "authentication": "headerAuth",
          "jsonParameters": true,
          "bodyParametersJson": "={\n  \"prompt\": \"Generate a tweet, with under 100 characters, about and including the hashtag {{$node[\"FunctionItem\"].json[\"hashtag\"]}}:\",\n  \"temperature\": 0.7,\n  \"max_tokens\": 64,\n  \"top_p\": 1,\n  \"frequency_penalty\": 0,\n  \"presence_penalty\": 0\n}"
        },
        "credentials": {
          "httpHeaderAuth": ""
        },
        "typeVersion": 1,
        "id": "c1c178a01f6f445f"
      },
      {
        "name": "Airtable",
        "type": "n8n-nodes-base.airtable",
        "position": [
          1050,
          300
        ],
        "parameters": {
          "table": "main",
          "options": {},
          "operation": "append",
          "application": "appOaG8kEA8FAABOr"
        },
        "credentials": {
          "airtableApi": ""
        },
        "typeVersion": 1,
        "id": "d32657f7680d71f4"
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          850,
          300
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "Hashtag",
                "value": "={{$node[\"FunctionItem\"].json[\"hashtag\"]}}"
              },
              {
                "name": "Content",
                "value": "={{$node[\"HTTP Request\"].json[\"choices\"][0][\"text\"]}}"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1,
        "id": "cf6ce6264a761b3d"
      }
    ],
    "connections": {
      "Set": {
        "main": [
          [
            {
              "node": "Airtable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FunctionItem": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "FunctionItem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "id": "dfc42497bab68819",
    "name": "OpenAI-powered tweet generator",
    "settings": {},
    "staticData": null,
    "tags": [
      "AI"
    ]
  }
}