market_understanding/full_workflow_metadata_n8n_workflows/workflow_13774070_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/13774070",
  "workflow_id": "13774070",
  "workflow_id_display": "13774070",
  "workflow_name": "Periodically send data from HTTP Request node to Telegram",
  "category": "Customer Support",
  "difficulty": "✅ Beginner",
  "total_nodes": "3",
  "tools_integrations": "API, Email, Telegram",
  "tags": [
    "telegram",
    "http",
    "api"
  ],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 AI Data Analysis",
  "setup_time": "⏱️ 30 mins - 1 hr",
  "use_cases": [],
  "what_it_does": "Automate workflows with real-time data capture, API integration, custom outputs, and instant email reports. Reliable, seamless, and error-free. Learn more!",
  "key_benefits": [
    "Communication automation",
    "Integration with telegram, httpRequest, cron"
  ],
  "nodes": [
    {
      "name": "Cron",
      "type": "Trigger"
    },
    {
      "name": "HTTP Request",
      "type": "Data Input"
    }
  ],
  "api_connections": [
    "Telegram Bot"
  ],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "id": "57",
    "name": "Send a cocktail recipe every day via a Telegram",
    "nodes": [
      {
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          930,
          300
        ],
        "parameters": {
          "file": "={{$node[\"HTTP Request\"].json[\"drinks\"][0][\"strDrinkThumb\"]}}",
          "chatId": "-485396236",
          "operation": "sendPhoto",
          "additionalFields": {
            "caption": "={{$node[\"HTTP Request\"].json[\"drinks\"][0][\"strInstructions\"]}}"
          }
        },
        "credentials": {
          "telegramApi": "telegram-bot"
        },
        "typeVersion": 1
      },
      {
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "position": [
          530,
          300
        ],
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "hour": 20
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          730,
          300
        ],
        "parameters": {
          "url": "https://www.thecocktaildb.com/api/json/v1/1/random.php",
          "options": {}
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Cron": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}