market_understanding/full_workflow_metadata_n8n_workflows/workflow_734043d6_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/734043d6",
  "workflow_id": "734043d6",
  "workflow_id_display": "734043d6",
  "workflow_name": "Execute a command that gives the hard disk memory used on the host machine",
  "category": "Communication & Collaboration",
  "difficulty": "✅ Beginner",
  "total_nodes": "5",
  "tools_integrations": "Email, Slack",
  "tags": [
    "slack"
  ],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 AI Process Automation",
  "setup_time": "⏱️ 15-30 mins",
  "use_cases": [],
  "what_it_does": "Automate lead capture, personalized emails, real-time CRM updates, and instant Slack alerts. Streamline onboarding and boost sales team efficiency—learn more!",
  "key_benefits": [
    "Communication automation",
    "Integration with executeCommand, noOp, cron"
  ],
  "nodes": [
    {
      "name": "Execute Command",
      "type": "Process"
    },
    {
      "name": "Cron",
      "type": "Trigger"
    },
    {
      "name": "NoOp",
      "type": "Process"
    }
  ],
  "api_connections": [
    "Slack API"
  ],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "id": "81",
    "name": "Execute a command that gives the hard disk memory used on the host machine",
    "nodes": [
      {
        "name": "Execute Command",
        "type": "n8n-nodes-base.executeCommand",
        "position": [
          670,
          300
        ],
        "parameters": {
          "command": "df -k / | tail -1 | awk '{print $5}'"
        },
        "typeVersion": 1
      },
      {
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "position": [
          470,
          300
        ],
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "hour": 9
              },
              {
                "hour": 16
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "position": [
          870,
          300
        ],
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{parseInt($node[\"Execute Command\"].json[\"stdout\"])}}",
                "value2": 80,
                "operation": "larger"
              }
            ],
            "string": []
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Twilio",
        "type": "n8n-nodes-base.twilio",
        "position": [
          1070,
          200
        ],
        "parameters": {
          "to": "+12345",
          "from": "+123",
          "message": "=Your hard disk space is filling up fast! Your hard disk is {{$node[\"Execute Command\"].json[\"stdout\"]}} full."
        },
        "credentials": {
          "twilioApi": "twilio-credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "NoOp",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1070,
          400
        ],
        "parameters": {},
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "IF": {
        "main": [
          [
            {
              "node": "Twilio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "NoOp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cron": {
        "main": [
          [
            {
              "node": "Execute Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Command": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}