market_understanding/full_workflow_metadata_n8n_workflows/workflow_b43f5471_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/b43f5471",
  "workflow_id": "b43f5471",
  "workflow_id_display": "b43f5471",
  "workflow_name": "Get DNS entries of any domain with uProc",
  "category": "Other",
  "difficulty": "✅ Beginner",
  "total_nodes": "3",
  "tools_integrations": null,
  "tags": [],
  "author_name": "Miquel Colomer",
  "author_profile_url": "https://n8n.io/creators/mcolomer/",
  "primary_use_case": "🎯 AI Process Automation",
  "setup_time": "⏱️ 1-2 hrs",
  "use_cases": [],
  "what_it_does": "Effortlessly monitor and verify DNS records in real time. Ensure accurate domain setup with uProc's workflow—customizable and easy to integrate. Learn more!",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with manualTrigger, uproc, functionItem"
  ],
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "Trigger"
    },
    {
      "name": "Create Domain Item",
      "type": "Data Processing"
    },
    {
      "name": "Get DNS records",
      "type": "Process"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "id": "113",
    "name": "Get DNS entries",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          240,
          290
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Create Domain Item",
        "type": "n8n-nodes-base.functionItem",
        "position": [
          450,
          290
        ],
        "parameters": {
          "functionCode": "item.domain = \"n8n.io\";\nreturn item;"
        },
        "typeVersion": 1
      },
      {
        "name": "Get DNS records",
        "type": "n8n-nodes-base.uproc",
        "position": [
          650,
          290
        ],
        "parameters": {
          "tool": "getDomainRecords",
          "group": "internet",
          "domain": "= {{$node[\"Create Domain Item\"].json[\"domain\"]}}",
          "additionalOptions": {}
        },
        "credentials": {
          "uprocApi": "miquel-uproc"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Create Domain Item": {
        "main": [
          [
            {
              "node": "Get DNS records",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Create Domain Item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}