market_understanding/full_workflow_metadata_n8n_workflows/workflow_eb37631c_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/eb37631c",
  "workflow_id": "eb37631c",
  "workflow_id_display": "eb37631c",
  "workflow_name": "Sync data between Google Drive and AWS S3",
  "category": "Other",
  "difficulty": "✅ Beginner",
  "total_nodes": "4",
  "tools_integrations": "AWS, Google Drive",
  "tags": [
    "google"
  ],
  "author_name": "Lorena",
  "author_profile_url": "https://n8n.io/creators/jan/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ 15-30 mins",
  "use_cases": [],
  "what_it_does": "Effortlessly sync new files from Google Drive to AWS S3. Detects, compares, and uploads only unique files. Keep your cloud storage up-to-date—learn more!",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with awsS3, googleDriveTrigger, merge"
  ],
  "nodes": [
    {
      "name": "Google Drive Trigger",
      "type": "Trigger"
    },
    {
      "name": "Merge",
      "type": "Data Processing"
    },
    {
      "name": "AWS S3 - get",
      "type": "Process"
    },
    {
      "name": "AWS S3 - upload",
      "type": "Process"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "nodes": [
      {
        "name": "Google Drive Trigger",
        "type": "n8n-nodes-base.googleDriveTrigger",
        "position": [
          480,
          1480
        ],
        "parameters": {
          "event": "fileUpdated",
          "options": {},
          "triggerOn": "specificFolder",
          "folderToWatch": "https://drive.google.com/drive/folders/[your_id]"
        },
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "12",
            "name": "Google Drive account"
          }
        },
        "typeVersion": 1,
        "id": "ff91917e2545d1c3"
      },
      {
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          680,
          1560
        ],
        "parameters": {
          "mode": "removeKeyMatches",
          "propertyName1": "name.value",
          "propertyName2": "Key.value"
        },
        "typeVersion": 1,
        "id": "a763e120c92d1c00"
      },
      {
        "name": "AWS S3  - get",
        "type": "n8n-nodes-base.awsS3",
        "position": [
          480,
          1660
        ],
        "parameters": {
          "options": {},
          "operation": "getAll",
          "bucketName": "mybucket"
        },
        "credentials": {
          "aws": {
            "id": "9",
            "name": "aws"
          }
        },
        "typeVersion": 1,
        "id": "4ae52176f64d7f7c"
      },
      {
        "name": "AWS S3 - upload",
        "type": "n8n-nodes-base.awsS3",
        "position": [
          860,
          1560
        ],
        "parameters": {
          "tagsUi": {
            "tagsValues": [
              {
                "key": "source",
                "value": "gdrive"
              }
            ]
          },
          "fileName": "={{$json[\"name\"]}}",
          "operation": "upload",
          "binaryData": false,
          "bucketName": "mybucket",
          "additionalFields": {
            "serverSideEncryption": "AES256"
          }
        },
        "credentials": {
          "aws": {
            "id": "9",
            "name": "aws"
          }
        },
        "typeVersion": 1,
        "id": "af1828d96ed4581a"
      }
    ],
    "connections": {
      "Merge": {
        "main": [
          [
            {
              "node": "AWS S3 - upload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AWS S3  - get": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "id": "09c66eee635200c7",
    "name": "Sync data between Google Drive and AWS S3",
    "settings": {},
    "staticData": null,
    "tags": [
      "google"
    ]
  }
}