market_understanding/full_workflow_metadata_n8n_workflows/workflow_b4746c50_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/b4746c50",
  "workflow_id": "b4746c50",
  "workflow_id_display": "b4746c50",
  "workflow_name": "Send selected GitHub events to Slack",
  "category": "Communication & Collaboration",
  "difficulty": "✅ Beginner",
  "total_nodes": "4",
  "tools_integrations": "GitHub, Slack",
  "tags": [
    "slack"
  ],
  "author_name": "Jan Oberhauser",
  "author_profile_url": "https://n8n.io/creators/jan/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ 1-2 hrs",
  "use_cases": [],
  "what_it_does": "Stay updated with real-time GitHub star/unstar events and get instant Slack notifications. Effortlessly keep your team informed. Learn more now!",
  "key_benefits": [
    "Communication automation",
    "Integration with if, slack, githubTrigger"
  ],
  "nodes": [
    {
      "name": "Github Trigger",
      "type": "Trigger"
    }
  ],
  "api_connections": [
    "Slack API"
  ],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "nodes": [
      {
        "name": "Github Trigger",
        "type": "n8n-nodes-base.githubTrigger",
        "position": [
          500,
          350
        ],
        "parameters": {
          "owner": "n8n-io",
          "events": [
            "star"
          ],
          "repository": "n8n"
        },
        "credentials": {
          "githubApi": ""
        },
        "typeVersion": 1,
        "id": "46941086647b5247"
      },
      {
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "position": [
          700,
          350
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$node[\"Github Trigger\"].data[\"body\"][\"action\"]}}",
                "value2": "created"
              }
            ]
          }
        },
        "typeVersion": 1,
        "id": "842917c82ab03865"
      },
      {
        "name": "Slack - Add",
        "type": "n8n-nodes-base.slack",
        "position": [
          900,
          250
        ],
        "parameters": {
          "channel": "#general",
          "attachments": [
            {
              "text": "=The project has now: {{$node[\"Github Trigger\"].data[\"body\"][\"repository\"][\"stargazers_count\"]}} Stars",
              "color": "#88FF00",
              "title": "=Got new star from: {{$node[\"Github Trigger\"].data[\"body\"][\"sender\"][\"login\"]}}",
              "image_url": "={{$node[\"Github Trigger\"].data[\"body\"][\"sender\"][\"avatar_url\"]}}",
              "title_link": "={{$node[\"Github Trigger\"].data[\"body\"][\"sender\"][\"html_url\"]}}"
            }
          ],
          "otherOptions": {}
        },
        "credentials": {
          "slackApi": ""
        },
        "typeVersion": 1,
        "id": "d8fb5f8a2ed1bf96"
      },
      {
        "name": "Slack - Remove",
        "type": "n8n-nodes-base.slack",
        "position": [
          900,
          450
        ],
        "parameters": {
          "channel": "#general",
          "attachments": [
            {
              "text": "=The project has now: {{$node[\"Github Trigger\"].data[\"body\"][\"repository\"][\"stargazers_count\"]}} Stars",
              "color": "#ff0000",
              "title": "=Star got removed by: {{$node[\"Github Trigger\"].data[\"body\"][\"sender\"][\"login\"]}}",
              "image_url": "={{$node[\"Github Trigger\"].data[\"body\"][\"sender\"][\"avatar_url\"]}}",
              "title_link": "={{$node[\"Github Trigger\"].data[\"body\"][\"sender\"][\"html_url\"]}}"
            }
          ],
          "otherOptions": {}
        },
        "credentials": {
          "slackApi": ""
        },
        "typeVersion": 1,
        "id": "86d94821eec3009c"
      }
    ],
    "connections": {
      "IF": {
        "main": [
          [
            {
              "node": "Slack - Add",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Slack - Remove",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Github Trigger": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "id": "06378275fef810bb",
    "name": "Send selected GitHub events to Slack",
    "settings": {},
    "staticData": null,
    "tags": [
      "slack"
    ]
  }
}