market_understanding/full_workflow_metadata_n8n_workflows/workflow_fcc7cfb5_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/fcc7cfb5",
  "workflow_id": "fcc7cfb5",
  "workflow_id_display": "fcc7cfb5",
  "workflow_name": "Send updates about the position of the ISS every minute to a topic in RabbitMQ",
  "category": "Other",
  "difficulty": "✅ Beginner",
  "total_nodes": "4",
  "tools_integrations": null,
  "tags": [],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ <15 mins",
  "use_cases": [],
  "what_it_does": "Get real-time ISS location updates every minute and push data to RabbitMQ. Effortless integration keeps your systems current. Learn more now!",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with httpRequest, set, rabbitmq"
  ],
  "nodes": [
    {
      "name": "RabbitMQ",
      "type": "Process"
    },
    {
      "name": "HTTP Request",
      "type": "Data Input"
    },
    {
      "name": "Cron",
      "type": "Trigger"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "id": "184",
    "name": "Send updates about the position of the ISS every minute to a topic in RabbitMQ",
    "nodes": [
      {
        "name": "RabbitMQ",
        "type": "n8n-nodes-base.rabbitmq",
        "position": [
          1300,
          540
        ],
        "parameters": {
          "queue": "iss-position",
          "options": {}
        },
        "credentials": {
          "rabbitmq": "RabbitMQ Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          1110,
          540
        ],
        "parameters": {
          "values": {
            "number": [
              {
                "name": "Latitude",
                "value": "={{$node[\"HTTP Request\"].json[\"0\"][\"latitude\"]}}"
              },
              {
                "name": "Longitude",
                "value": "={{$node[\"HTTP Request\"].json[\"0\"][\"longitude\"]}}"
              },
              {
                "name": "Timestamp",
                "value": "={{$node[\"HTTP Request\"].json[\"0\"][\"timestamp\"]}}"
              }
            ],
            "string": [
              {
                "name": "Name",
                "value": "={{$node[\"HTTP Request\"].json[\"0\"][\"name\"]}}"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1
      },
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          910,
          540
        ],
        "parameters": {
          "url": "https://api.wheretheiss.at/v1/satellites/25544/positions",
          "options": {},
          "queryParametersUi": {
            "parameter": [
              {
                "name": "timestamps",
                "value": "={{Date.now();}}"
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "position": [
          710,
          540
        ],
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          }
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Set": {
        "main": [
          [
            {
              "node": "RabbitMQ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cron": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}