market_understanding/full_workflow_metadata_n8n_workflows/workflow_a04a0148_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/a04a0148",
  "workflow_id": "a04a0148",
  "workflow_id_display": "a04a0148",
  "workflow_name": "Check To Do on Notion and send message on Slack",
  "category": "Communication & Collaboration",
  "difficulty": "🎯 Advanced",
  "total_nodes": "6",
  "tools_integrations": "Notion, Slack",
  "tags": [
    "slack"
  ],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 AI Process Automation",
  "setup_time": "⏱️ 1-2 hrs",
  "use_cases": [],
  "what_it_does": "Effortlessly sync your Notion To-Do list to Slack with daily automated updates. Stay organized and keep your team in the loop. Learn more!",
  "key_benefits": [
    "Communication automation",
    "Integration with notion, slack, noOp"
  ],
  "nodes": [
    {
      "name": "Cron",
      "type": "Trigger"
    },
    {
      "name": "NoOp",
      "type": "Process"
    },
    {
      "name": "Get To Dos",
      "type": "Process"
    }
  ],
  "api_connections": [
    "Slack API"
  ],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "id": "331",
    "name": "Check To Do on Notion and send message on Slack",
    "nodes": [
      {
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "position": [
          470,
          320
        ],
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "hour": 8
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "NoOp",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1120,
          420
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Get To Dos",
        "type": "n8n-nodes-base.notion",
        "position": [
          670,
          320
        ],
        "parameters": {
          "blockId": "bafdscf",
          "resource": "block",
          "operation": "getAll",
          "returnAll": true
        },
        "credentials": {
          "notionApi": ""
        },
        "typeVersion": 1
      },
      {
        "name": "If task assigned to Harshil?",
        "type": "n8n-nodes-base.if",
        "notes": "Check if the task is incomplete",
        "position": [
          870,
          320
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json[\"to_do\"][\"text\"][1][\"mention\"][\"user\"][\"name\"]}}",
                "value2": "NAME"
              }
            ],
            "boolean": [
              {
                "value1": "={{$json[\"to_do\"][\"checked\"]}}"
              }
            ]
          }
        },
        "notesInFlow": true,
        "typeVersion": 1
      },
      {
        "name": "Create a Direct Message",
        "type": "n8n-nodes-base.slack",
        "position": [
          1120,
          220
        ],
        "parameters": {
          "options": {
            "users": [
              "U01JXLAJ6SE"
            ]
          },
          "resource": "channel",
          "operation": "open"
        },
        "credentials": {
          "slackApi": ""
        },
        "executeOnce": false,
        "typeVersion": 1
      },
      {
        "name": "Send a Direct Message",
        "type": "n8n-nodes-base.slack",
        "position": [
          1320,
          220
        ],
        "parameters": {
          "text": "# TO DO",
          "channel": "={{$json[\"id\"]}}",
          "attachments": [
            {
              "title": "=☑️ {{$node[\"If task assigned to Harshil?\"].json[\"to_do\"][\"text\"][0][\"text\"][\"content\"]}}"
            }
          ],
          "otherOptions": {
            "mrkdwn": true
          }
        },
        "credentials": {
          "slackApi": ""
        },
        "typeVersion": 1
      }
    ],
    "active": true,
    "settings": {},
    "connections": {
      "Cron": {
        "main": [
          [
            {
              "node": "Get To Dos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get To Dos": {
        "main": [
          [
            {
              "node": "If task assigned to Harshil?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a Direct Message": {
        "main": [
          [
            {
              "node": "Send a Direct Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If task assigned to Harshil?": {
        "main": [
          [
            {
              "node": "Create a Direct Message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "NoOp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}