market_understanding/full_workflow_metadata_n8n_workflows/workflow_c8926d2b_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/c8926d2b",
  "workflow_id": "c8926d2b",
  "workflow_id_display": "c8926d2b",
  "workflow_name": "Demonstrates the use of the $item(index) method",
  "category": "Other",
  "difficulty": "✅ Beginner",
  "total_nodes": "4",
  "tools_integrations": "API",
  "tags": [
    "api",
    "http"
  ],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ 30 mins - 1 hr",
  "use_cases": [],
  "what_it_does": "Learn how to efficiently use the $item(index) method in n8n to reuse an API key and automate HTTP POST requests with flexible, dynamic workflows.",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with manualTrigger, set, httpRequest"
  ],
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "Trigger"
    },
    {
      "name": "Customer Datastore",
      "type": "Process"
    },
    {
      "name": "HTTP Request",
      "type": "Data Input"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          250,
          300
        ],
        "parameters": {},
        "typeVersion": 1,
        "id": "30ea5a94f08b42d3"
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          450,
          300
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "apiKey",
                "value": "n8n-secret-keey"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1,
        "id": "cf6ce6264a761b3d"
      },
      {
        "name": "Customer Datastore",
        "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
        "position": [
          650,
          300
        ],
        "parameters": {
          "operation": "getAllPeople",
          "returnAll": true
        },
        "typeVersion": 1,
        "id": "95e5c870fcbb66c1"
      },
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          850,
          300
        ],
        "parameters": {
          "url": "https://webhook.site/f99d65ab-8959-4466-a427-cdd0ad482220",
          "options": {},
          "requestMethod": "POST",
          "bodyParametersUi": {
            "parameter": [
              {
                "name": "name",
                "value": "={{$json[\"name\"]}}"
              }
            ]
          },
          "headerParametersUi": {
            "parameter": [
              {
                "name": "api-key",
                "value": "={{ $item(0).$node[\"Set\"].json[\"apiKey\"] }}"
              }
            ]
          }
        },
        "typeVersion": 1,
        "id": "c1c178a01f6f445f"
      }
    ],
    "connections": {
      "Set": {
        "main": [
          [
            {
              "node": "Customer Datastore",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Customer Datastore": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "id": "8ded09f0b1e2015d",
    "name": "Demonstrates the use of the $item(index) method",
    "settings": {},
    "staticData": null,
    "tags": [
      "api",
      "http"
    ]
  }
}