market_understanding/full_workflow_metadata_n8n_workflows/workflow_9c24404d_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/9c24404d",
  "workflow_id": "9c24404d",
  "workflow_id_display": "9c24404d",
  "workflow_name": "Manage contacts in Automizy",
  "category": "Data & Analytics",
  "difficulty": "✅ Beginner",
  "total_nodes": "5",
  "tools_integrations": null,
  "tags": [],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ <15 mins",
  "use_cases": [],
  "what_it_does": "Automate data collection, filtering, and reporting with real-time alerts and seamless integration. Streamline your workflow—discover more now!",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with manualTrigger, automizy"
  ],
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "Trigger"
    },
    {
      "name": "Automizy",
      "type": "Process"
    },
    {
      "name": "Automizy1",
      "type": "Process"
    },
    {
      "name": "Automizy2",
      "type": "Process"
    },
    {
      "name": "Automizy3",
      "type": "Process"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "id": "82",
    "name": "Create a new list, add a new contact to the list, update the contact, and get all contacts in the list",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          290,
          260
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Automizy",
        "type": "n8n-nodes-base.automizy",
        "position": [
          490,
          260
        ],
        "parameters": {
          "name": "n8n-docs",
          "resource": "list"
        },
        "credentials": {
          "automizyApi": "automizy"
        },
        "typeVersion": 1
      },
      {
        "name": "Automizy1",
        "type": "n8n-nodes-base.automizy",
        "position": [
          690,
          260
        ],
        "parameters": {
          "email": "example@n8n.io",
          "listId": "={{$node[\"Automizy\"].json[\"id\"]}}",
          "additionalFields": {
            "status": "ACTIVE"
          }
        },
        "credentials": {
          "automizyApi": "automizy"
        },
        "typeVersion": 1
      },
      {
        "name": "Automizy2",
        "type": "n8n-nodes-base.automizy",
        "position": [
          890,
          260
        ],
        "parameters": {
          "email": "={{$node[\"Automizy1\"].json[\"email\"]}}",
          "operation": "update",
          "updateFields": {
            "tags": [
              "reviewer"
            ]
          }
        },
        "credentials": {
          "automizyApi": "automizy"
        },
        "typeVersion": 1
      },
      {
        "name": "Automizy3",
        "type": "n8n-nodes-base.automizy",
        "position": [
          1090,
          260
        ],
        "parameters": {
          "listId": "={{$node[\"Automizy\"].json[\"id\"]}}",
          "operation": "getAll",
          "returnAll": true,
          "additionalFields": {}
        },
        "credentials": {
          "automizyApi": "automizy"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Automizy": {
        "main": [
          [
            {
              "node": "Automizy1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Automizy1": {
        "main": [
          [
            {
              "node": "Automizy2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Automizy2": {
        "main": [
          [
            {
              "node": "Automizy3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Automizy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}