market_understanding/full_workflow_metadata_n8n_workflows/workflow_68cb7a09_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/68cb7a09",
  "workflow_id": "68cb7a09",
  "workflow_id_display": "68cb7a09",
  "workflow_name": "Handle verification for Twitter webhook",
  "category": "IT & Development",
  "difficulty": "✅ Beginner",
  "total_nodes": "3",
  "tools_integrations": "API, Twitter, Webhook",
  "tags": [
    "twitter",
    "webhook",
    "api"
  ],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ 1-2 hrs",
  "use_cases": [],
  "what_it_does": "Easily verify Twitter webhooks in n8n—secure HMAC SHA-256 signature generation, auto-response to API pings, and full step-by-step integration guide.",
  "key_benefits": [
    "API integration",
    "Integration with crypto, set, webhook"
  ],
  "nodes": [
    {
      "name": "Webhook",
      "type": "Trigger"
    },
    {
      "name": "Crypto",
      "type": "Process"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "nodes": [
      {
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          460,
          300
        ],
        "webhookId": "0db0a40c-e5d1-463f-8252-03599f1303e6",
        "parameters": {
          "path": "0db0a40c-e5d1-463f-8252-03599f1303e6",
          "options": {},
          "responseMode": "lastNode"
        },
        "typeVersion": 1,
        "id": "173c2e39565b5df7"
      },
      {
        "name": "Crypto",
        "type": "n8n-nodes-base.crypto",
        "position": [
          660,
          300
        ],
        "parameters": {
          "type": "SHA256",
          "value": "={{$json[\"query\"][\"crc_token\"]}}",
          "action": "hmac",
          "secret": "API KEY SECRET",
          "encoding": "base64"
        },
        "typeVersion": 1,
        "id": "f34aca0604f87722"
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          840,
          300
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "response_token",
                "value": "=sha256={{$json[\"data\"]}}"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1,
        "id": "cf6ce6264a761b3d"
      }
    ],
    "connections": {
      "Crypto": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Crypto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "id": "0afdbb22bc735b9d",
    "name": "Handle verification for Twitter webhook",
    "settings": {},
    "staticData": null,
    "tags": [
      "twitter",
      "webhook",
      "api"
    ]
  }
}