market_understanding/full_workflow_metadata_n8n_workflows/workflow_5cb29c5b_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/5cb29c5b",
  "workflow_id": "5cb29c5b",
  "workflow_id_display": "5cb29c5b",
  "workflow_name": "Two-way sync between Pipedrive and HubSpot",
  "category": "Marketing & Sales",
  "difficulty": "✅ Beginner",
  "total_nodes": "7",
  "tools_integrations": "HubSpot",
  "tags": [],
  "author_name": "Lorena",
  "author_profile_url": "https://n8n.io/creators/lorenanda/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ <15 mins",
  "use_cases": [],
  "what_it_does": "Effortlessly sync contacts between Pipedrive and HubSpot every minute. Ensure up-to-date records on both platforms. Learn more about seamless integration!",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with merge, hubspot, pipedrive"
  ],
  "nodes": [
    {
      "name": "Cron",
      "type": "Trigger"
    },
    {
      "name": "Pipedrive",
      "type": "Process"
    },
    {
      "name": "Update Pipedrive",
      "type": "Process"
    },
    {
      "name": "HubSpot",
      "type": "Process"
    },
    {
      "name": "Update HubSpot",
      "type": "Process"
    },
    {
      "name": "Merge1",
      "type": "Data Processing"
    },
    {
      "name": "Merge2",
      "type": "Data Processing"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "nodes": [
      {
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "position": [
          560,
          350
        ],
        "parameters": {},
        "typeVersion": 1,
        "id": "22a5e6e9685b9184"
      },
      {
        "name": "Pipedrive",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          760,
          250
        ],
        "parameters": {
          "resource": "person",
          "operation": "getAll",
          "returnAll": true,
          "additionalFields": {}
        },
        "credentials": {
          "pipedriveApi": {
            "id": "28",
            "name": "pipedrive_api"
          }
        },
        "typeVersion": 1,
        "id": "ec2408d4db480f19"
      },
      {
        "name": "Update Pipedrive",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          1160,
          250
        ],
        "parameters": {
          "name": "={{$json[\"properties\"][\"firstname\"][\"value\"]}}",
          "resource": "person",
          "additionalFields": {
            "email": [
              "={{$json[\"identity-profiles\"][0][\"identities\"][0][\"value\"]}}"
            ]
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "28",
            "name": "pipedrive_api"
          }
        },
        "typeVersion": 1,
        "id": "7eb57cd6eafc2dfa"
      },
      {
        "name": "HubSpot",
        "type": "n8n-nodes-base.hubspot",
        "position": [
          760,
          450
        ],
        "parameters": {
          "resource": "contact",
          "operation": "getAll",
          "returnAll": true,
          "additionalFields": {}
        },
        "credentials": {
          "hubspotApi": {
            "id": "21",
            "name": "hubspot_account"
          }
        },
        "typeVersion": 1,
        "id": "0b085351f36a8005"
      },
      {
        "name": "Update HubSpot",
        "type": "n8n-nodes-base.hubspot",
        "position": [
          1160,
          450
        ],
        "parameters": {
          "email": "={{$json[\"email\"][0][\"value\"]}}",
          "resource": "contact",
          "additionalFields": {
            "firstName": "={{$json[\"first_name\"]}}"
          }
        },
        "credentials": {
          "hubspotApi": {
            "id": "21",
            "name": "hubspot_account"
          }
        },
        "typeVersion": 1,
        "id": "0ffd7bfa3d22a5f2"
      },
      {
        "name": "Merge1",
        "type": "n8n-nodes-base.merge",
        "position": [
          960,
          250
        ],
        "parameters": {
          "mode": "removeKeyMatches",
          "propertyName1": "identity-profiles[0].identities[0].value",
          "propertyName2": "email[0].value"
        },
        "typeVersion": 1,
        "id": "68310496dc1369a9"
      },
      {
        "name": "Merge2",
        "type": "n8n-nodes-base.merge",
        "position": [
          960,
          450
        ],
        "parameters": {
          "mode": "removeKeyMatches",
          "propertyName1": "email[0].value",
          "propertyName2": "identity-profiles[0].identities[0].value"
        },
        "typeVersion": 1,
        "id": "e2162b3b5fdc59bd"
      }
    ],
    "connections": {
      "Cron": {
        "main": [
          [
            {
              "node": "Pipedrive",
              "type": "main",
              "index": 0
            },
            {
              "node": "HubSpot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Update Pipedrive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Update HubSpot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HubSpot": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Pipedrive": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            },
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "id": "086700a7385e63b5",
    "name": "Two-way sync between Pipedrive and HubSpot",
    "settings": {},
    "staticData": null,
    "tags": []
  }
}