market_understanding/full_workflow_metadata_n8n_workflows/workflow_5ba238fd_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/5ba238fd",
  "workflow_id": "5ba238fd",
  "workflow_id_display": "5ba238fd",
  "workflow_name": "Split In Batches node noItemsLeft example",
  "category": "Other",
  "difficulty": "✅ Beginner",
  "total_nodes": "5",
  "tools_integrations": null,
  "tags": [],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ <15 mins",
  "use_cases": [],
  "what_it_does": "Easily monitor and control batch processing in your workflows using `noItemsLeft` with SplitInBatches. Streamline data handling—learn more now!",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with manualTrigger, function, set"
  ],
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "Trigger"
    },
    {
      "name": "Function",
      "type": "Data Processing"
    },
    {
      "name": "SplitInBatches",
      "type": "Data Processing"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          430,
          310
        ],
        "parameters": {},
        "typeVersion": 1,
        "id": "30ea5a94f08b42d3"
      },
      {
        "name": "Function",
        "type": "n8n-nodes-base.function",
        "position": [
          630,
          310
        ],
        "parameters": {
          "functionCode": "const newItems = [];\n\nfor (let i=0;i<10;i++) {\n  newItems.push({json:{i}});\n}\n\nreturn newItems;"
        },
        "typeVersion": 1,
        "id": "15c7535d0f6085cf"
      },
      {
        "name": "SplitInBatches",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          830,
          310
        ],
        "parameters": {
          "options": {},
          "batchSize": 1
        },
        "typeVersion": 1,
        "id": "4401baed7c080285"
      },
      {
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "position": [
          1030,
          460
        ],
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": true,
                "value2": "={{$node[\"SplitInBatches\"].context[\"noItemsLeft\"]}}"
              }
            ]
          }
        },
        "typeVersion": 1,
        "id": "842917c82ab03865"
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          1230,
          360
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "Message",
                "value": "No Items Left"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1,
        "id": "cf6ce6264a761b3d"
      }
    ],
    "connections": {
      "IF": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SplitInBatches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Function": {
        "main": [
          [
            {
              "node": "SplitInBatches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SplitInBatches": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Function",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "id": "8095cb9601381185",
    "name": "Split In Batches node noItemsLeft example",
    "settings": {},
    "staticData": null,
    "tags": []
  }
}