market_understanding/full_workflow_metadata_n8n_workflows/workflow_7967b4c2_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/7967b4c2",
  "workflow_id": "7967b4c2",
  "workflow_id_display": "7967b4c2",
  "workflow_name": "Validate website of new companies in Hubspot",
  "category": "Communication & Collaboration",
  "difficulty": "🎯 Advanced",
  "total_nodes": "5",
  "tools_integrations": "HubSpot, Slack",
  "tags": [
    "slack"
  ],
  "author_name": "Jonathan",
  "author_profile_url": "https://n8n.io/creators/jon-n8n/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ 1-2 hrs",
  "use_cases": [],
  "what_it_does": "Automatically monitor new Hubspot companies and get instant Slack alerts if their website is missing. Simple setup—connect your Hubspot and Slack accounts.",
  "key_benefits": [
    "Communication automation",
    "Integration with httpRequest, slack, hubspot"
  ],
  "nodes": [
    {
      "name": "On new company created",
      "type": "Trigger"
    },
    {
      "name": "Get company information",
      "type": "Process"
    },
    {
      "name": "Try to load the domain",
      "type": "Data Input"
    }
  ],
  "api_connections": [
    "Slack API"
  ],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "meta": {
      "instanceId": "8c8c5237b8e37b006a7adce87f4369350c58e41f3ca9de16196d3197f69eabcd"
    },
    "nodes": [
      {
        "id": "9a0c7f24-a344-4955-8bdc-b129e5d8d619",
        "name": "Check Result",
        "type": "n8n-nodes-base.if",
        "notes": "IF\ndeliverability is not good\nOR\nDomain is not valid\nOR\nEmail is Disposable",
        "position": [
          860,
          420
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json[\"statusCode\"]}}",
                "value2": "200"
              }
            ],
            "boolean": []
          },
          "combineOperation": "any"
        },
        "typeVersion": 1
      },
      {
        "id": "b4d3619e-1327-4b79-a81b-caed93efa5aa",
        "name": "Post to Slack",
        "type": "n8n-nodes-base.slack",
        "position": [
          1060,
          440
        ],
        "parameters": {
          "text": "=:warning: New Company with suspicious domain :warning:\n*Name: * {{$node[\"Get company information\"].json[\"properties\"][\"name\"][\"value\"]}}\n*Domain: * {{$node[\"Get company information\"].json[\"properties\"][\"website\"][\"value\"]}}\n*ID: * {{$node[\"Get company information\"].json[\"companyId\"]}}",
          "channel": "#hubspot-alerts",
          "attachments": [],
          "otherOptions": {}
        },
        "credentials": {
          "slackApi": {
            "id": "39",
            "name": "Slack Access Token"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "f0e82b09-8311-49c5-b295-694ea5147b50",
        "name": "On new company created",
        "type": "n8n-nodes-base.hubspotTrigger",
        "position": [
          320,
          420
        ],
        "webhookId": "748453fc-65ef-48bc-bae9-a5a6d13ade54",
        "parameters": {
          "eventsUi": {
            "eventValues": [
              {
                "name": "company.creation"
              }
            ]
          },
          "additionalFields": {}
        },
        "credentials": {
          "hubspotDeveloperApi": {
            "id": "44",
            "name": "Hubspot Developer account"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "81dd8835-e61f-44de-b650-23b35fbebb0d",
        "name": "Get company information",
        "type": "n8n-nodes-base.hubspot",
        "position": [
          500,
          420
        ],
        "parameters": {
          "resource": "company",
          "companyId": "={{$json[\"companyId\"]}}",
          "operation": "get",
          "additionalFields": {}
        },
        "credentials": {
          "hubspotApi": {
            "id": "43",
            "name": "Hubspot account"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "62017a8b-a6cd-452f-a8a4-576dbd10dc4e",
        "name": "Try to load the domain",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          660,
          420
        ],
        "parameters": {
          "url": "={{$json[\"properties\"][\"domain\"][\"value\"]}}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "text"
              }
            }
          }
        },
        "typeVersion": 3
      }
    ],
    "connections": {
      "Check Result": {
        "main": [
          null,
          [
            {
              "node": "Post to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On new company created": {
        "main": [
          [
            {
              "node": "Get company information",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Try to load the domain": {
        "main": [
          [
            {
              "node": "Check Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get company information": {
        "main": [
          [
            {
              "node": "Try to load the domain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "id": "8babac7332a218e2",
    "name": "Validate website of new companies in Hubspot",
    "settings": {},
    "staticData": null,
    "tags": [
      "slack"
    ]
  }
}