market_understanding/full_workflow_metadata_n8n_workflows/workflow_33f2fdad_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/33f2fdad",
  "workflow_id": "33f2fdad",
  "workflow_id_display": "33f2fdad",
  "workflow_name": "Manage group members in Bitwarden automatically",
  "category": "Other",
  "difficulty": "✅ Beginner",
  "total_nodes": "4",
  "tools_integrations": null,
  "tags": [],
  "author_name": "ghagrawal17",
  "author_profile_url": "https://n8n.io/creators/harshil1712/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ <15 mins",
  "use_cases": [],
  "what_it_does": "Effortlessly create groups, add members, and manage group memberships in Bitwarden. Streamline your workflow and enhance team collaboration. Learn more!",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with bitwarden"
  ],
  "nodes": [
    {
      "name": "Bitwarden",
      "type": "Process"
    },
    {
      "name": "Bitwarden1",
      "type": "Process"
    },
    {
      "name": "Bitwarden2",
      "type": "Process"
    },
    {
      "name": "Bitwarden3",
      "type": "Process"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "nodes": [
      {
        "name": "Bitwarden",
        "type": "n8n-nodes-base.bitwarden",
        "position": [
          470,
          320
        ],
        "parameters": {
          "name": "documentation",
          "resource": "group",
          "operation": "create",
          "additionalFields": {}
        },
        "credentials": {
          "bitwardenApi": "Bitwarden API Credentials"
        },
        "typeVersion": 1,
        "id": "ec19a4cb858cf750"
      },
      {
        "name": "Bitwarden1",
        "type": "n8n-nodes-base.bitwarden",
        "position": [
          670,
          320
        ],
        "parameters": {
          "resource": "member",
          "operation": "getAll",
          "returnAll": true
        },
        "credentials": {
          "bitwardenApi": "Bitwarden API Credentials"
        },
        "typeVersion": 1,
        "id": "ac8925bbb26a5593"
      },
      {
        "name": "Bitwarden2",
        "type": "n8n-nodes-base.bitwarden",
        "position": [
          870,
          320
        ],
        "parameters": {
          "groupId": "={{$node[\"Bitwarden\"].json[\"id\"]}}",
          "resource": "group",
          "memberIds": "={{$json[\"id\"]}}",
          "operation": "updateMembers"
        },
        "credentials": {
          "bitwardenApi": "Bitwarden API Credentials"
        },
        "typeVersion": 1,
        "id": "a5f73c9a18588325"
      },
      {
        "name": "Bitwarden3",
        "type": "n8n-nodes-base.bitwarden",
        "position": [
          1070,
          320
        ],
        "parameters": {
          "groupId": "={{$node[\"Bitwarden\"].json[\"id\"]}}",
          "resource": "group",
          "operation": "getMembers"
        },
        "credentials": {
          "bitwardenApi": "Bitwarden API Credentials"
        },
        "typeVersion": 1,
        "id": "c227c41d37d73d48"
      }
    ],
    "connections": {
      "Bitwarden": {
        "main": [
          [
            {
              "node": "Bitwarden1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bitwarden1": {
        "main": [
          [
            {
              "node": "Bitwarden2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bitwarden2": {
        "main": [
          [
            {
              "node": "Bitwarden3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "id": "307653e7ad7a3322",
    "name": "Manage group members in Bitwarden automatically",
    "settings": {},
    "staticData": null,
    "tags": []
  }
}