market_understanding/full_workflow_metadata_n8n_workflows/workflow_6d7c9a39_combined.json
{
  "url": "https://www.thevibemarketer.com/members/workflow-id/6d7c9a39",
  "workflow_id": "6d7c9a39",
  "workflow_id_display": "6d7c9a39",
  "workflow_name": "Get information about the weather for any city",
  "category": "Content & Documentation",
  "difficulty": "✅ Beginner",
  "total_nodes": "3",
  "tools_integrations": null,
  "tags": [],
  "author_name": "amudhan",
  "author_profile_url": "https://n8n.io/creators/sm-amudhan/",
  "primary_use_case": "🎯 miscellaneous Automation",
  "setup_time": "⏱️ <15 mins",
  "use_cases": [],
  "what_it_does": "Boost your blog with automated workflows—streamline content creation, publishing, and sharing across CMS and social platforms. Learn more now!",
  "key_benefits": [
    "Process automation",
    "Workflow optimization",
    "Integration with set, openWeatherMap, webhook"
  ],
  "nodes": [
    {
      "name": "OpenWeatherMap",
      "type": "Process"
    },
    {
      "name": "Webhook",
      "type": "Trigger"
    }
  ],
  "api_connections": [],
  "rating": null,
  "review_count": 0,
  "page_title": "The Vibe Marketer - 10x Your Speed To Market With AI",
  "n8n_workflow": {
    "nodes": [
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          870,
          300
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "tempC",
                "value": "={{$json[\"main\"][\"temp\"]}}"
              },
              {
                "name": "humidity",
                "value": "={{$json[\"main\"][\"humidity\"]}}"
              },
              {
                "name": "windspeed",
                "value": "={{$json[\"wind\"][\"speed\"]}}"
              },
              {
                "name": "description",
                "value": "={{$json[\"weather\"][0][\"description\"]}}"
              },
              {
                "name": "city",
                "value": "={{$json[\"name\"]}}, {{$json[\"sys\"][\"country\"]}}"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1,
        "id": "cf6ce6264a761b3d"
      },
      {
        "name": "OpenWeatherMap",
        "type": "n8n-nodes-base.openWeatherMap",
        "position": [
          650,
          300
        ],
        "parameters": {
          "cityName": "={{$json[\"body\"][\"city\"]}}"
        },
        "credentials": {
          "openWeatherMapApi": "open-weather-map"
        },
        "typeVersion": 1,
        "id": "8e4a7182f2f5bbdc"
      },
      {
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          450,
          300
        ],
        "webhookId": "39f1b81f-f538-4b94-8788-29180d5e4016",
        "parameters": {
          "path": "39f1b81f-f538-4b94-8788-29180d5e4016",
          "options": {},
          "responseData": "allEntries",
          "responseMode": "lastNode"
        },
        "typeVersion": 1,
        "id": "173c2e39565b5df7"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "OpenWeatherMap",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenWeatherMap": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "id": "2afcfb394520917c",
    "name": "Get information about the weather for any city",
    "settings": {},
    "staticData": null,
    "tags": []
  }
}