market_understanding/n8n_workflow_jsons/workflow_19633962.json
{
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        430,
        310
      ],
      "parameters": {},
      "typeVersion": 1,
      "id": "30ea5a94f08b42d3"
    },
    {
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "position": [
        630,
        310
      ],
      "parameters": {
        "functionCode": "const newItems = [];\n\nfor (let i=0;i<10;i++) {\n  newItems.push({json:{i}});\n}\n\nreturn newItems;"
      },
      "typeVersion": 1,
      "id": "15c7535d0f6085cf"
    },
    {
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        830,
        310
      ],
      "parameters": {
        "options": {},
        "batchSize": 1
      },
      "typeVersion": 1,
      "id": "4401baed7c080285"
    },
    {
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        1030,
        460
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"SplitInBatches\"].context[\"currentRunIndex\"];}}",
              "value2": 5,
              "operation": "equal"
            }
          ],
          "boolean": []
        }
      },
      "typeVersion": 1,
      "id": "842917c82ab03865"
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        1230,
        360
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Message",
              "value": "Loop Ended"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1,
      "id": "cf6ce6264a761b3d"
    }
  ],
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "f148acd41dd4efdb",
  "name": "Split In Batches node currentRunIndex example",
  "settings": {},
  "staticData": null,
  "tags": []
}