market_understanding/n8n_workflow_jsons/workflow_07a0bdc9.json
{
  "nodes": [
    {
      "name": "Bubble",
      "type": "n8n-nodes-base.bubble",
      "position": [
        450,
        280
      ],
      "parameters": {
        "typeName": "Doc",
        "operation": "create",
        "properties": {
          "property": [
            {
              "key": "Name",
              "value": "Bubble"
            }
          ]
        }
      },
      "credentials": {
        "bubbleApi": "Bubble API Credentials"
      },
      "typeVersion": 1,
      "id": "0e8cfda6b1a6224f"
    },
    {
      "name": "Bubble1",
      "type": "n8n-nodes-base.bubble",
      "position": [
        650,
        280
      ],
      "parameters": {
        "objectId": "={{$json[\"id\"]}}",
        "typeName": "={{$node[\"Bubble\"].parameter[\"typeName\"]}}",
        "operation": "update",
        "properties": {
          "property": [
            {
              "key": "Name",
              "value": "Bubble node"
            }
          ]
        }
      },
      "credentials": {
        "bubbleApi": "Bubble API Credentials"
      },
      "typeVersion": 1,
      "id": "0efe8672885d3d2e"
    },
    {
      "name": "Bubble2",
      "type": "n8n-nodes-base.bubble",
      "position": [
        850,
        280
      ],
      "parameters": {
        "objectId": "={{$node[\"Bubble\"].json[\"id\"]}}",
        "typeName": "={{$node[\"Bubble\"].parameter[\"typeName\"]}}"
      },
      "credentials": {
        "bubbleApi": "Bubble API Credentials"
      },
      "typeVersion": 1,
      "id": "d66017fb01be8fc1"
    }
  ],
  "connections": {
    "Bubble": {
      "main": [
        [
          {
            "node": "Bubble1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bubble1": {
      "main": [
        [
          {
            "node": "Bubble2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "3a65fe71212f41ba",
  "name": "Create, update, and get an object from Bubble",
  "settings": {},
  "staticData": null,
  "tags": [
    "database"
  ]
}