market_understanding/n8n_workflow_jsons/workflow_ce5ab3e9.json
{
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        190,
        160
      ],
      "parameters": {},
      "typeVersion": 1,
      "id": "30ea5a94f08b42d3"
    },
    {
      "name": "AWS Transcribe",
      "type": "n8n-nodes-base.awsTranscribe",
      "position": [
        590,
        160
      ],
      "parameters": {
        "options": {},
        "mediaFileUri": "=s3://{{$node[\"AWS S3\"].parameter[\"bucketName\"]}}/{{$json[\"Key\"]}}",
        "detectLanguage": true,
        "transcriptionJobName": "={{$json[\"Key\"].replace(/\\s/g,'-')}}"
      },
      "credentials": {
        "aws": "AWS Transcribe Credentials"
      },
      "typeVersion": 1,
      "id": "066bbc3f0dffbf1e"
    },
    {
      "name": "AWS S3",
      "type": "n8n-nodes-base.awsS3",
      "position": [
        390,
        160
      ],
      "parameters": {
        "options": {},
        "operation": "getAll",
        "returnAll": true,
        "bucketName": "n8n-docs"
      },
      "credentials": {
        "aws": "AWS S3 Credentials"
      },
      "typeVersion": 1,
      "id": "8edbbb102bad0a41"
    }
  ],
  "connections": {
    "AWS S3": {
      "main": [
        [
          {
            "node": "AWS Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "AWS S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "637a43f8b94c87db",
  "name": "Create transcription jobs using AWS Transcribe",
  "settings": {},
  "staticData": null,
  "tags": []
}