market_understanding/downloaded_workflows/workflow_e26ec5a0.json
{
  "nodes": [
    {
      "name": "Typeform Trigger",
      "type": "n8n-nodes-base.typeformTrigger",
      "position": [
        500,
        520
      ],
      "parameters": {
        "formId": ""
      },
      "credentials": {
        "typeformApi": ""
      },
      "typeVersion": 1,
      "id": "85d46f6f3ec7fc4e"
    },
    {
      "name": "NextCloud",
      "type": "n8n-nodes-base.nextCloud",
      "position": [
        650,
        300
      ],
      "parameters": {
        "path": "examples/Problems.xls",
        "operation": "download"
      },
      "credentials": {
        "nextCloudApi": ""
      },
      "typeVersion": 1,
      "id": "eb86fe27c41673cc"
    },
    {
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        800,
        300
      ],
      "parameters": {},
      "typeVersion": 1,
      "id": "e41a6bcf65d8aa7d"
    },
    {
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1000,
        470
      ],
      "parameters": {},
      "typeVersion": 1,
      "id": "a763e120c92d1c00"
    },
    {
      "name": "Spreadsheet File1",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        1150,
        470
      ],
      "parameters": {
        "operation": "toFile"
      },
      "typeVersion": 1,
      "id": "bb416a6701d9154b"
    },
    {
      "name": "NextCloud1",
      "type": "n8n-nodes-base.nextCloud",
      "position": [
        1300,
        470
      ],
      "parameters": {
        "path": "={{$node[\"NextCloud\"].parameter[\"path\"]}}",
        "binaryDataUpload": true
      },
      "credentials": {
        "nextCloudApi": ""
      },
      "typeVersion": 1,
      "id": "8aa446d12af0435b"
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Spreadsheet File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NextCloud": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typeform Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Spreadsheet File1": {
      "main": [
        [
          {
            "node": "NextCloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "32f9bfc06d5d5a16",
  "name": "Convert Typeform data into Spreadsheet",
  "settings": {},
  "staticData": null,
  "tags": []
}