market_understanding/downloaded_workflows/workflow_d4ad8c65.json
{
  "nodes": [
    {
      "name": "FileMaker",
      "type": "n8n-nodes-base.filemaker",
      "position": [
        450,
        320
      ],
      "parameters": {
        "action": "create",
        "layout": "My Form Layout",
        "fieldsParametersUi": {
          "fields": [
            {
              "name": "first_name",
              "value": "Harshil"
            },
            {
              "name": "last_name",
              "value": "Agrawal"
            }
          ]
        }
      },
      "credentials": {
        "fileMaker": "FileMaker API Credentials"
      },
      "typeVersion": 1,
      "id": "79a99adbb3d88af6"
    },
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        320
      ],
      "parameters": {},
      "typeVersion": 1,
      "id": "30ea5a94f08b42d3"
    },
    {
      "name": "FileMaker",
      "type": "n8n-nodes-base.filemaker",
      "position": [
        450,
        320
      ],
      "parameters": {
        "action": "create",
        "layout": "My Form Layout",
        "fieldsParametersUi": {
          "fields": [
            {
              "name": "first_name",
              "value": "Harshil"
            },
            {
              "name": "last_name",
              "value": "Agrawal"
            }
          ]
        }
      },
      "credentials": {
        "fileMaker": "FileMaker API Credentials"
      },
      "typeVersion": 1,
      "id": "79a99adbb3d88af6"
    },
    {
      "name": "FileMaker2",
      "type": "n8n-nodes-base.filemaker",
      "position": [
        650,
        320
      ],
      "parameters": {
        "modId": "={{$json[\"response\"][\"modId\"]}}",
        "recid": "={{$json[\"response\"][\"recordId\"]}}",
        "action": "edit",
        "layout": "My Form Layout",
        "fieldsParametersUi": {
          "fields": [
            {
              "name": "address_country",
              "value": "Germany"
            }
          ]
        }
      },
      "credentials": {
        "fileMaker": "FileMaker API Credentials"
      },
      "typeVersion": 1,
      "id": "a3fff0369a8e40c0"
    },
    {
      "name": "FileMaker3",
      "type": "n8n-nodes-base.filemaker",
      "position": [
        850,
        320
      ],
      "parameters": {
        "recid": "={{$node[\"FileMaker\"].json[\"response\"][\"recordId\"]}}",
        "layout": "My Form Layout"
      },
      "credentials": {
        "fileMaker": "FileMaker API Credentials"
      },
      "typeVersion": 1,
      "id": "402cbd27e05a4cc8"
    }
  ],
  "connections": {
    "FileMaker": {
      "main": [
        [
          {
            "node": "FileMaker2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FileMaker2": {
      "main": [
        [
          {
            "node": "FileMaker3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "FileMaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "04a7e724bc5a81b3",
  "name": "Create, update, and retrieve a record from FileMaker",
  "settings": {},
  "staticData": null,
  "tags": [
    "database"
  ]
}