market_understanding/downloaded_workflows/workflow_08160119.json
{
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        20,
        720
      ],
      "parameters": {},
      "typeVersion": 1,
      "id": "30ea5a94f08b42d3"
    },
    {
      "name": "Customer Datastore",
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "position": [
        220,
        720
      ],
      "parameters": {
        "operation": "getAllPeople"
      },
      "typeVersion": 1,
      "id": "95e5c870fcbb66c1"
    },
    {
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        600
      ],
      "parameters": {
        "width": 520,
        "height": 280,
        "content": "## 2. If with And/Or conditions\nSet the **Combine** field to: \n`ALL` for `AND` condition\n`ANY` for `OR` condition"
      },
      "typeVersion": 1,
      "id": "f978ece47fdf5942"
    },
    {
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        920
      ],
      "parameters": {
        "width": 520,
        "height": 360,
        "content": "## 3. Multiple branches\nWe use the `Switch` when there more than 2 possible outcomes to the filtering. We do that by specifying the condition under **Routing rules** inside the node.\n\nIn this example we send all **US-based** customers data to route 0, **customers from CO** to route 1, **customers from the UK** to route 2, and all the rest to route 3 as a fallback"
      },
      "typeVersion": 1,
      "id": "7adc781f3f04c8f5"
    },
    {
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        300
      ],
      "parameters": {
        "width": 520,
        "height": 260,
        "content": "## 1. Single condition If\nFilter out data that you don't want or send data to different branches"
      },
      "typeVersion": 1,
      "id": "6c92b0d44e261339"
    },
    {
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -520,
        660
      ],
      "parameters": {
        "width": 480,
        "height": 240,
        "content": "## The `If` and the `Switch` nodes are the key nodes to set conditional logic for filtering and routing data\n\n\n### Click `Execute Workflow` button and double click on the nodes to see the input and output items when you click on each node."
      },
      "typeVersion": 1,
      "id": "728dd9ce279cd5a9"
    },
    {
      "name": "Country equals US",
      "type": "n8n-nodes-base.if",
      "position": [
        540,
        420
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"country\"]}}",
              "value2": "US"
            }
          ]
        }
      },
      "typeVersion": 1,
      "id": "eff790cdfbad991d"
    },
    {
      "name": "Country is empty or Name contains 'Max'",
      "type": "n8n-nodes-base.if",
      "position": [
        540,
        720
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"country\"]}}",
              "operation": "isEmpty"
            },
            {
              "value1": "={{$json[\"name\"]}}",
              "value2": "Max",
              "operation": "contains"
            }
          ]
        },
        "combineOperation": "any"
      },
      "typeVersion": 1,
      "id": "c86c856d5478358f"
    },
    {
      "name": "Country based branching",
      "type": "n8n-nodes-base.switch",
      "position": [
        540,
        1120
      ],
      "parameters": {
        "rules": {
          "rules": [
            {
              "value2": "US"
            },
            {
              "output": 1,
              "value2": "CO"
            },
            {
              "output": 2,
              "value2": "UK"
            }
          ]
        },
        "value1": "={{$json[\"country\"]}}",
        "dataType": "string",
        "fallbackOutput": 3
      },
      "typeVersion": 1,
      "id": "9e78e438ac0fb2b4"
    }
  ],
  "connections": {
    "Customer Datastore": {
      "main": [
        [
          {
            "node": "Country is empty or Name contains 'Max'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Country based branching",
            "type": "main",
            "index": 0
          },
          {
            "node": "Country equals US",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Customer Datastore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "1919d8808e0411d6",
  "name": "Filtering and branching data",
  "settings": {},
  "staticData": null,
  "tags": []
}